.sconsign.dblite
.sconf_temp/
config.log
*.inc
*.o
*.os
*.obj
*.lib
*.exp
*.exe
*.dylib
*.dll
*.gc*
*.neonx
bin/
errors.txt
config.py

external/IntelRDFPMathLib20U1/
external/utf8/
external/libffi-3.2.1/
external/PDCurses-3.4/
external/easysid-version-1.0/
external/hash-library/
external/pcre2-10.10/
external/curl-7.41.0/
external/sqlite-amalgamation-3080803/
external/zlib-1.2.8/
external/bzip2-1.0.6/
external/xz-5.2.1/
external/NaturalDocs/
external/lib
external/share
