.sconsign.dblite
*.inc
*.o
*.os
*.obj
*.lib
*.exp
*.exe
*.dylib
*.dll
*.gc*
*.neonx
bin/
errors.txt

external/IntelRDFPMathLib20U1/
external/utf8/
external/libffi-3.2.1/
external/PDCurses-3.4/
external/easysid-version-1.0/
external/hash-library/
external/lib
external/share
