.sconsign.dblite
.sconf_temp/
config.log
*.o
*.os
*.obj
*.lib
*.exp
*.exe
*.dylib
*.dll
*.so
*.gc*
*.pyc
*.neonx
*.neond
*.class
lib/*.js
t/*.c
t/*.cpp
t/*.js
gen/
bin/
config.cache
test_grammar
*__neonbuild/

external/IntelRDFPMathLib20U2/
external/gmp-6.1.2/
external/utfcpp-master/
external/hash-library/
external/sqlite-amalgamation-3320300/
external/zlib-1.2.8/
external/minijson_writer-master/
external/NaturalDocs/
external/pyparsing-2.4.5/
external/minizip11/

external/etc
external/include
external/lib
external/share
external/*.a

# CMake ignores from https://github.com/github/gitignore/blob/master/CMake.gitignore
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# CMake outputs for MSVC
*.vcxproj
*.vcxproj.filters

# CMake output for Ninja
*.ninja
