INTERFACE Int
    FUNCTION foo(self: Int, x: String)
END INTERFACE

TYPE Cls IS CLASS IMPLEMENTS Int
END CLASS

FUNCTION Cls.foo(self: VALID POINTER TO Cls, x: Number)
                                             --<
END FUNCTION
