IMPORT process
IMPORT string

VAR out, err: Bytes

TESTCASE process.call("bin/neonc", OUT out, OUT err) = 1
TESTCASE out = HEXBYTES ""
TESTCASE string.splitLines(err.decodeToString()) = ["Usage: bin/neonc filename.neon"]

TESTCASE process.call("bin/neon t/hello.neon", OUT out, OUT err) = 0
TESTCASE string.splitLines(out.decodeToString()) = ["hello world"]
TESTCASE err = HEXBYTES ""
