-- SKIP

EXCEPTION TestException

FUNCTION foo()
    RAISE TestException
END FUNCTION

FUNCTION bar()
    VAR x: Number := 0
    TRY
        foo()
    TRAP TestException DO
        x := 5
    END TRY
END FUNCTION

bar()
