-- SKIP

FUNCTION foo()
    RAISE ValueRangeException
END FUNCTION

FUNCTION bar()
    VAR x: Number := 0
    TRY
        foo()
    TRAP ValueRangeException DO
        x := 5
    END TRY
END FUNCTION

bar()
