#|
 | This program converts the neon.ebnf grammar from EBNF format to
 | the W3C dialect of EBNF used by http://www.bottlecaps.de/rr/ui.
 | It is quick and dirty and is not a general solution.
 |#

IMPORT string

LOOP
    VAR s: String
    TRY
        s := input("")

        # Skip over comment block at top.
        IF s[1] = "*" THEN
            NEXT LOOP
        END IF

        # Remove semicolons from the end of each production.
        IF s[LAST] = ";" THEN
            s := s[FIRST TO LAST-1]
        END IF

        # Convert = to ::=.
        LET equals: Number := string.find(s, " =")
        IF equals >= 0 THEN
            s[equals+1] := "::="
        END IF

        # Remove commas separating items.
        LOOP
            LET comma: Number := string.find(s, ", ")
            IF comma < 0 THEN
                EXIT LOOP
            END IF
            s[comma] := ""
        END LOOP

        # Convert [...] to (...)?.
        LOOP
            LET bracket: Number := string.find(s, " [")
            IF bracket < 0 THEN
                EXIT LOOP
            END IF
            LET rbracket: Number := string.find(s, "]")
            ASSERT rbracket > bracket
            s[bracket+1] := "("
            s[rbracket] := ")?"
        END LOOP

        # Convert {...} to (...)*.
        LOOP
            LET brace: Number := string.find(s, " {")
            IF brace < 0 THEN
                EXIT LOOP
            END IF
            LET rbrace: Number := string.find(s, "}")
            ASSERT rbrace > brace
            s[brace+1] := "("
            s[rbrace] := ")*"
        END LOOP

    TRAP EndOfFileException DO
        EXIT LOOP
    END TRY
    print(s)
END LOOP
