%|
 |  File: compress
 |
 |  Functions for in-memory compression using several different algorithms.
 |%

EXPORT gzip
EXPORT gunzip
EXPORT bzip2
EXPORT bunzip2
EXPORT lzma
EXPORT unlzma

EXPORT EXCEPTION CompressException

%|
 |  Function: gzip
 |
 |  Compress an input buffer using the gzip algorithm,
 |  returning the compressed data as <Bytes>.
 |%
DECLARE EXTENSION FUNCTION gzip(data: Bytes): Bytes

%|
 |  Function: gunzip
 |
 |  Decompress input bytes using the gunzip algorithm,
 |  returning the uncompressed data as a <Bytes>.
 |%
DECLARE EXTENSION FUNCTION gunzip(data: Bytes): Bytes

%|
 |  Function: bzip2
 |
 |  Compress an input buffer using the bzip2 algorithm,
 |  returning the compressed data as <Bytes>.
 |%
DECLARE EXTENSION FUNCTION bzip2(data: Bytes): Bytes

%|
 |  Function: bunzip2
 |
 |  Decompress input bytes using the bunzip2 algorithm,
 |  returning the uncompressed data as a <Bytes>.
 |%
DECLARE EXTENSION FUNCTION bunzip2(data: Bytes): Bytes

%|
 |  Function: lzma
 |
 |  Compress an input buffer using the lzma algorithm,
 |  returning the compressed data as <Bytes>.
 |%
DECLARE EXTENSION FUNCTION lzma(data: Bytes): Bytes

%|
 |  Function: unlzma
 |
 |  Decompress input bytes usingi the unlzma algorithm,
 |  returning the uncompressed data as a <Bytes>.
 |%
DECLARE EXTENSION FUNCTION unlzma(data: Bytes): Bytes
