/*  File: console
 *
 *  Functions for console input and output.
 */

EXPORT input
EXPORT output
EXPORT InputResult

TYPE InputResult IS CHOICE
    eof
    line: String
END CHOICE

/*  Function: input
 *
 *  Read a line of input from the terminal after printing a prompt.
 */
FUNCTION input(prompt: String): InputResult
    VAR s: String
    LET r: Boolean := input_internal(prompt, OUT s)
    IF r THEN
        RETURN InputResult.line(s)
    ELSE
        RETURN InputResult.eof
    END IF
END FUNCTION

DECLARE NATIVE FUNCTION input_internal(prompt: String, OUT line: String): Boolean

/*  Function: output
 *
 *  Print a string to standard output followed by a newline.
 */
FUNCTION output(s: String)
    print(s)
END FUNCTION
