%|
 |  File: curses
 |
 |  Curses library for text-oriented user interface support.
 |
 |  Reference:
 |      https://en.wikipedia.org/wiki/Curses_%28programming_library%29
 |%

EXPORT Window

DECLARE NATIVE CONSTANT CURSES_ERR: Number
DECLARE NATIVE CONSTANT CURSES_OK: Number

TYPE Window IS POINTER

%|----------------------------------------------------------------------
 |
 |  Video Attributes
 |
 |%

DECLARE NATIVE CONSTANT A_CHARTEXT         : Number
DECLARE NATIVE CONSTANT A_NORMAL           : Number
DECLARE NATIVE CONSTANT A_ALTCHARSET       : Number
DECLARE NATIVE CONSTANT A_INVIS            : Number
DECLARE NATIVE CONSTANT A_UNDERLINE        : Number
DECLARE NATIVE CONSTANT A_REVERSE          : Number
DECLARE NATIVE CONSTANT A_BLINK            : Number
DECLARE NATIVE CONSTANT A_BOLD             : Number
DECLARE NATIVE CONSTANT A_ATTRIBUTES       : Number
DECLARE NATIVE CONSTANT A_COLOR            : Number
DECLARE NATIVE CONSTANT A_PROTECT          : Number

%|----------------------------------------------------------------------
 |
 |  Color Constants
 |
 |%

DECLARE NATIVE CONSTANT COLOR_BLACK        : Number
DECLARE NATIVE CONSTANT COLOR_BLUE         : Number
DECLARE NATIVE CONSTANT COLOR_GREEN        : Number
DECLARE NATIVE CONSTANT COLOR_RED          : Number
DECLARE NATIVE CONSTANT COLOR_CYAN         : Number
DECLARE NATIVE CONSTANT COLOR_MAGENTA      : Number
DECLARE NATIVE CONSTANT COLOR_YELLOW       : Number
DECLARE NATIVE CONSTANT COLOR_WHITE        : Number

%|----------------------------------------------------------------------
 |
 |  Keyboard, and Key Definitions.
 |
 |%

DECLARE NATIVE CONSTANT KEY_CODE_YES       : Number % If get_wch() gives a key code

DECLARE NATIVE CONSTANT KEY_BREAK          : Number % Not on PC KBD
DECLARE NATIVE CONSTANT KEY_DOWN           : Number % Down arrow key
DECLARE NATIVE CONSTANT KEY_UP             : Number % Up arrow key
DECLARE NATIVE CONSTANT KEY_LEFT           : Number % Left arrow key
DECLARE NATIVE CONSTANT KEY_RIGHT          : Number % Right arrow key
DECLARE NATIVE CONSTANT KEY_HOME           : Number % home key
DECLARE NATIVE CONSTANT KEY_BACKSPACE      : Number % not on pc
DECLARE NATIVE CONSTANT KEY_F0             : Number % function keys; 64 reserved

DECLARE NATIVE CONSTANT KEY_DL             : Number % delete line
DECLARE NATIVE CONSTANT KEY_IL             : Number % insert line
DECLARE NATIVE CONSTANT KEY_DC             : Number % delete character
DECLARE NATIVE CONSTANT KEY_IC             : Number % insert char or enter ins mode
DECLARE NATIVE CONSTANT KEY_EIC            : Number % exit insert char mode
DECLARE NATIVE CONSTANT KEY_CLEAR          : Number % clear screen
DECLARE NATIVE CONSTANT KEY_EOS            : Number % clear to end of screen
DECLARE NATIVE CONSTANT KEY_EOL            : Number % clear to end of line
DECLARE NATIVE CONSTANT KEY_SF             : Number % scroll 1 line forward
DECLARE NATIVE CONSTANT KEY_SR             : Number % scroll 1 line back (reverse)
DECLARE NATIVE CONSTANT KEY_NPAGE          : Number % next page
DECLARE NATIVE CONSTANT KEY_PPAGE          : Number % previous page
DECLARE NATIVE CONSTANT KEY_STAB           : Number % set tab
DECLARE NATIVE CONSTANT KEY_CTAB           : Number % clear tab
DECLARE NATIVE CONSTANT KEY_CATAB          : Number % clear all tabs
DECLARE NATIVE CONSTANT KEY_ENTER          : Number % enter or send (unreliable)
DECLARE NATIVE CONSTANT KEY_SRESET         : Number % soft/reset (partial/unreliable)
DECLARE NATIVE CONSTANT KEY_RESET          : Number % reset/hard reset (unreliable)
DECLARE NATIVE CONSTANT KEY_PRINT          : Number % print/copy
DECLARE NATIVE CONSTANT KEY_LL             : Number % home down/bottom (lower left)
DECLARE NATIVE CONSTANT KEY_SHELP          : Number % short help
DECLARE NATIVE CONSTANT KEY_BTAB           : Number % Back tab key
DECLARE NATIVE CONSTANT KEY_BEG            : Number % beg(inning) key
DECLARE NATIVE CONSTANT KEY_CANCEL         : Number % cancel key
DECLARE NATIVE CONSTANT KEY_CLOSE          : Number % close key
DECLARE NATIVE CONSTANT KEY_COMMAND        : Number % cmd (command) key
DECLARE NATIVE CONSTANT KEY_COPY           : Number % copy key
DECLARE NATIVE CONSTANT KEY_CREATE         : Number % create key
DECLARE NATIVE CONSTANT KEY_END            : Number % end key
DECLARE NATIVE CONSTANT KEY_EXIT           : Number % exit key
DECLARE NATIVE CONSTANT KEY_FIND           : Number % find key
DECLARE NATIVE CONSTANT KEY_HELP           : Number % help key
DECLARE NATIVE CONSTANT KEY_MARK           : Number % mark key
DECLARE NATIVE CONSTANT KEY_MESSAGE        : Number % message key
DECLARE NATIVE CONSTANT KEY_MOVE           : Number % move key
DECLARE NATIVE CONSTANT KEY_NEXT           : Number % next object key
DECLARE NATIVE CONSTANT KEY_OPEN           : Number % open key
DECLARE NATIVE CONSTANT KEY_OPTIONS        : Number % options key
DECLARE NATIVE CONSTANT KEY_PREVIOUS       : Number % previous object key
DECLARE NATIVE CONSTANT KEY_REDO           : Number % redo key
DECLARE NATIVE CONSTANT KEY_REFERENCE      : Number % ref(erence) key
DECLARE NATIVE CONSTANT KEY_REFRESH        : Number % refresh key
DECLARE NATIVE CONSTANT KEY_REPLACE        : Number % replace key
DECLARE NATIVE CONSTANT KEY_RESTART        : Number % restart key
DECLARE NATIVE CONSTANT KEY_RESUME         : Number % resume key
DECLARE NATIVE CONSTANT KEY_SAVE           : Number % save key
DECLARE NATIVE CONSTANT KEY_SBEG           : Number % shifted beginning key
DECLARE NATIVE CONSTANT KEY_SCANCEL        : Number % shifted cancel key
DECLARE NATIVE CONSTANT KEY_SCOMMAND       : Number % shifted command key
DECLARE NATIVE CONSTANT KEY_SCOPY          : Number % shifted copy key
DECLARE NATIVE CONSTANT KEY_SCREATE        : Number % shifted create key
DECLARE NATIVE CONSTANT KEY_SDC            : Number % shifted delete char key
DECLARE NATIVE CONSTANT KEY_SDL            : Number % shifted delete line key
DECLARE NATIVE CONSTANT KEY_SELECT         : Number % select key
DECLARE NATIVE CONSTANT KEY_SEND           : Number % shifted end key
DECLARE NATIVE CONSTANT KEY_SEOL           : Number % shifted clear line key
DECLARE NATIVE CONSTANT KEY_SEXIT          : Number % shifted exit key
DECLARE NATIVE CONSTANT KEY_SFIND          : Number % shifted find key
DECLARE NATIVE CONSTANT KEY_SHOME          : Number % shifted home key
DECLARE NATIVE CONSTANT KEY_SIC            : Number % shifted input key

DECLARE NATIVE CONSTANT KEY_SLEFT          : Number % shifted left arrow key
DECLARE NATIVE CONSTANT KEY_SMESSAGE       : Number % shifted message key
DECLARE NATIVE CONSTANT KEY_SMOVE          : Number % shifted move key
DECLARE NATIVE CONSTANT KEY_SNEXT          : Number % shifted next key
DECLARE NATIVE CONSTANT KEY_SOPTIONS       : Number % shifted options key
DECLARE NATIVE CONSTANT KEY_SPREVIOUS      : Number % shifted prev key
DECLARE NATIVE CONSTANT KEY_SPRINT         : Number % shifted print key
DECLARE NATIVE CONSTANT KEY_SREDO          : Number % shifted redo key
DECLARE NATIVE CONSTANT KEY_SREPLACE       : Number % shifted replace key
DECLARE NATIVE CONSTANT KEY_SRIGHT         : Number % shifted right arrow
DECLARE NATIVE CONSTANT KEY_SRSUME         : Number % shifted resume key
DECLARE NATIVE CONSTANT KEY_SSAVE          : Number % shifted save key
DECLARE NATIVE CONSTANT KEY_SSUSPEND       : Number % shifted suspend key
DECLARE NATIVE CONSTANT KEY_SUNDO          : Number % shifted undo key
DECLARE NATIVE CONSTANT KEY_SUSPEND        : Number % suspend key
DECLARE NATIVE CONSTANT KEY_UNDO           : Number % undo key

DECLARE NATIVE CONSTANT KEY_MIN            : Number % Minimum curses key value
DECLARE NATIVE CONSTANT KEY_MAX            : Number % Maximum curses key

%|----------------------------------------------------------------------
 |
 |  Curses functions
 |
 |%

DECLARE NATIVE FUNCTION COLOR_PAIR(n: Number): Number
DECLARE NATIVE FUNCTION Cols(): Number
DECLARE NATIVE FUNCTION KEY_F(n: Number): Number
DECLARE NATIVE FUNCTION Lines(): Number
DECLARE NATIVE FUNCTION PAIR_NUMBER(n: Number): Number

DECLARE NATIVE FUNCTION addch(ch: Number)
DECLARE NATIVE FUNCTION waddch(win: Window, ch: Number)
DECLARE NATIVE FUNCTION mvaddch(y: Number, x: Number, ch: Number)
DECLARE NATIVE FUNCTION mvwaddch(win: Window, y: Number, x: Number, ch: Number)
DECLARE NATIVE FUNCTION addchstr(chstr: Array<Number>)
DECLARE NATIVE FUNCTION waddchstr(win: Window, chstr: Array<Number>)
DECLARE NATIVE FUNCTION mvaddchstr(y: Number, x: Number, chstr: Array<Number>)
DECLARE NATIVE FUNCTION mvwaddchstr(win: Window, y: Number, x: Number, chstr: Array<Number>)
DECLARE NATIVE FUNCTION addstr(str: String)
DECLARE NATIVE FUNCTION waddstr(win: Window, str: String)
DECLARE NATIVE FUNCTION mvaddstr(y: Number, x: Number, str: String)
DECLARE NATIVE FUNCTION mvwaddstr(win: Window, y: Number, x: Number, str: String)
DECLARE NATIVE FUNCTION attroff(attrs: Number)
DECLARE NATIVE FUNCTION wattroff(win: Window, attrs: Number)
DECLARE NATIVE FUNCTION attron(attrs: Number)
DECLARE NATIVE FUNCTION wattron(win: Window, attrs: Number)
DECLARE NATIVE FUNCTION attrset(attrs: Number)
DECLARE NATIVE FUNCTION wattrset(win: Window, attrs: Number)
DECLARE NATIVE FUNCTION baudrate(): Number
DECLARE NATIVE FUNCTION beep()
DECLARE NATIVE FUNCTION bkgd(ch: Number)
DECLARE NATIVE FUNCTION wbkgd(win: Window, ch: Number)
DECLARE NATIVE FUNCTION bkgdset(ch: Number)
DECLARE NATIVE FUNCTION wbkgdset(win: Window, ch: Number)
DECLARE NATIVE FUNCTION border(ls: Number, rs: Number, ts: Number, bs: Number, tl: Number, tr: Number, bl: Number, br: Number)
DECLARE NATIVE FUNCTION wborder(win: Window, ls: Number, rs: Number, ts: Number, bs: Number, tl: Number, tr: Number, bl: Number, br: Number)
DECLARE NATIVE FUNCTION box(win: Window, verch: Number, horch: Number)
DECLARE NATIVE FUNCTION can_change_color(): Boolean
DECLARE NATIVE FUNCTION cbreak()
DECLARE NATIVE FUNCTION nocbreak()
DECLARE NATIVE FUNCTION chgat(n: Number, attr: Number, color: Number, opts: POINTER)
DECLARE NATIVE FUNCTION wchgat(win: Window, n: Number, attr: Number, color: Number, opts: POINTER)
DECLARE NATIVE FUNCTION mvchgat(y: Number, x: Number, n: Number, attr: Number, color: Number, opts: POINTER)
DECLARE NATIVE FUNCTION mvwchgat(win: Window, y: Number, x: Number, n: Number, attr: Number, color: Number, opts: POINTER)
DECLARE NATIVE FUNCTION clear()
DECLARE NATIVE FUNCTION wclear(win: Window)
DECLARE NATIVE FUNCTION clearok(win: Window, bf: Boolean)
DECLARE NATIVE FUNCTION clrtobot()
DECLARE NATIVE FUNCTION wclrtobot(win: Window)
DECLARE NATIVE FUNCTION clrtoeol()
DECLARE NATIVE FUNCTION wclrtoeol(win: Window)
DECLARE NATIVE FUNCTION color_content(color: Number): Array<Number>
DECLARE NATIVE FUNCTION color_set(color_pair_number: Number, opts: POINTER)
DECLARE NATIVE FUNCTION wcolor_set(win: Window, color_pair_number: Number, opts: POINTER)
DECLARE NATIVE FUNCTION copywin(srcwin: Window, dstwin: Window, sminrow: Number, smincol: Number, dminrow: Number, dmincol: Number, dmaxrow: Number, dmaxcol: Number, overlay: Boolean)
DECLARE NATIVE FUNCTION curs_set(visibility: Number)
DECLARE NATIVE FUNCTION curscr(): Window
DECLARE NATIVE FUNCTION curses_version(): String
DECLARE NATIVE FUNCTION def_prog_mode()
DECLARE NATIVE FUNCTION def_shell_mode()
DECLARE NATIVE FUNCTION delay_output(ms: Number)
DECLARE NATIVE FUNCTION delch()
DECLARE NATIVE FUNCTION wdelch(win: Window)
DECLARE NATIVE FUNCTION mvdelch(y: Number, x: Number)
DECLARE NATIVE FUNCTION mvwdelch(win: Window, y: Number, x: Number)
DECLARE NATIVE FUNCTION deleteln()
DECLARE NATIVE FUNCTION wdeleteln(win: Window)
DECLARE NATIVE FUNCTION delwin(win: Window)
DECLARE NATIVE FUNCTION derwin(orig: Window, nlines: Number, ncols: Number, begin_y: Number, begin_x: Number): Window
DECLARE NATIVE FUNCTION doupdate()
DECLARE NATIVE FUNCTION dupwin(win: Window): Window
DECLARE NATIVE FUNCTION echo()
DECLARE NATIVE FUNCTION noecho()
DECLARE NATIVE FUNCTION echochar(ch: Number)
DECLARE NATIVE FUNCTION wechochar(win: Window, ch: Number)
DECLARE NATIVE FUNCTION endwin()
DECLARE NATIVE FUNCTION erase()
DECLARE NATIVE FUNCTION werase(win: Window)
DECLARE NATIVE FUNCTION erasechar(): String
DECLARE NATIVE FUNCTION filter()
DECLARE NATIVE FUNCTION flash()
DECLARE NATIVE FUNCTION flushinp()
DECLARE NATIVE FUNCTION getbegx(win: Window): Number
DECLARE NATIVE FUNCTION getbegy(win: Window): Number
DECLARE NATIVE FUNCTION getbegyx(win: Window): Array<Number>
DECLARE NATIVE FUNCTION getbkgd(win: Window): Number
DECLARE NATIVE FUNCTION getch(): Number
DECLARE NATIVE FUNCTION wgetch(win: Window): Number
DECLARE NATIVE FUNCTION mvgetch(y: Number, x: Number): Number
DECLARE NATIVE FUNCTION mvwgetch(win: Window, y: Number, x: Number): Number
DECLARE NATIVE FUNCTION getcurx(win: Window): Number
DECLARE NATIVE FUNCTION getcury(win: Window): Number
DECLARE NATIVE FUNCTION getmaxx(win: Window): Number
DECLARE NATIVE FUNCTION getmaxy(win: Window): Number
DECLARE NATIVE FUNCTION getmaxyx(win: Window): Array<Number>
DECLARE NATIVE FUNCTION getnstr(n: Number): String
DECLARE NATIVE FUNCTION wgetnstr(win: Window, n: Number): String
DECLARE NATIVE FUNCTION mvgetnstr(y: Number, x: Number, n: Number): String
DECLARE NATIVE FUNCTION mvwgetnstr(win: Window, y: Number, x: Number, n: Number): String
DECLARE NATIVE FUNCTION getparx(win: Window): Number
DECLARE NATIVE FUNCTION getpary(win: Window): Number
DECLARE NATIVE FUNCTION getparyx(win: Window): Array<Number>
DECLARE NATIVE FUNCTION getsyx(): Array<Number>
DECLARE NATIVE FUNCTION getyx(win: Window): Array<Number>
DECLARE NATIVE FUNCTION halfdelay(tenths: Number)
DECLARE NATIVE FUNCTION has_colors(): Boolean
DECLARE NATIVE FUNCTION has_ic(): Boolean
DECLARE NATIVE FUNCTION has_il(): Boolean
DECLARE NATIVE FUNCTION has_key(ch: Number): Boolean
DECLARE NATIVE FUNCTION hline(ch: Number, n: Number)
DECLARE NATIVE FUNCTION whline(win: Window, ch: Number, n: Number)
DECLARE NATIVE FUNCTION mvhline(y: Number, x: Number, ch: Number, n: Number)
DECLARE NATIVE FUNCTION mvwhline(win: Window, y: Number, x: Number, ch: Number, n: Number)
DECLARE NATIVE FUNCTION idcok(win: Window, bf: Boolean)
DECLARE NATIVE FUNCTION idlok(win: Window, bf: Boolean)
DECLARE NATIVE FUNCTION immedok(win: Window, bf: Boolean)
DECLARE NATIVE FUNCTION inch(): Number
DECLARE NATIVE FUNCTION winch(win: Window): Number
DECLARE NATIVE FUNCTION mvinch(y: Number, x: Number): Number
DECLARE NATIVE FUNCTION mvwinch(win: Window, y: Number, x: Number): Number
DECLARE NATIVE FUNCTION init_color(pair: Number, r: Number, g: Number, b: Number)
DECLARE NATIVE FUNCTION init_pair(pair: Number, f: Number, b: Number)
DECLARE NATIVE FUNCTION initscr()
DECLARE NATIVE FUNCTION intrflush(win: Window, bf: Boolean)
DECLARE NATIVE FUNCTION insch(ch: Number)
DECLARE NATIVE FUNCTION winsch(win: Window, ch: Number)
DECLARE NATIVE FUNCTION mvinsch(y: Number, x: Number, ch: Number)
DECLARE NATIVE FUNCTION mvwinsch(win: Window, y: Number, x: Number, ch: Number)
DECLARE NATIVE FUNCTION insdelln(n: Number)
DECLARE NATIVE FUNCTION winsdelln(win: Window, n: Number)
DECLARE NATIVE FUNCTION insertln()
DECLARE NATIVE FUNCTION winsertln(win: Window)
DECLARE NATIVE FUNCTION insstr(str: String)
DECLARE NATIVE FUNCTION winsstr(win: Window, str: String)
DECLARE NATIVE FUNCTION mvinsstr(y: Number, x: Number, str: String)
DECLARE NATIVE FUNCTION mvwinsstr(win: Window, y: Number, x: Number, str: String)
DECLARE NATIVE FUNCTION is_linetouched(win: Window, line: Number): Boolean
DECLARE NATIVE FUNCTION is_wintouched(win: Window): Boolean
DECLARE NATIVE FUNCTION isendwin(): Boolean
DECLARE NATIVE FUNCTION keyname(c: Number): String
DECLARE NATIVE FUNCTION keypad(win: Window, bf: Boolean)
DECLARE NATIVE FUNCTION killchar(): String
DECLARE NATIVE FUNCTION leaveok(win: Window, bf: Boolean)
DECLARE NATIVE FUNCTION longname(): String
DECLARE NATIVE FUNCTION meta(win: Window, bf: Boolean)
DECLARE NATIVE FUNCTION move(y: Number, x: Number)
DECLARE NATIVE FUNCTION wmove(win: Window, y: Number, x: Number)
DECLARE NATIVE FUNCTION mvderwin(win: Window, par_y: Number, par_x: Number)
DECLARE NATIVE FUNCTION mvwin(win: Window, y: Number, x: Number)
DECLARE NATIVE FUNCTION napms(ms: Number)
DECLARE NATIVE FUNCTION newpad(nlines: Number, ncols: Number): Window
DECLARE NATIVE FUNCTION newwin(nlines: Number, ncols: Number, begin_y: Number, begin_x: Number): Window
DECLARE NATIVE FUNCTION nl()
DECLARE NATIVE FUNCTION nonl()
DECLARE NATIVE FUNCTION nodelay(win: Window, bf: Boolean)
DECLARE NATIVE FUNCTION noqiflush()
DECLARE NATIVE FUNCTION notimeout(win: Window, bf: Boolean)
DECLARE NATIVE FUNCTION overlay(srcwin: Window, dstwin: Window)
DECLARE NATIVE FUNCTION overwrite(srcwin: Window, dstwin: Window)
DECLARE NATIVE FUNCTION pair_content(color: Number): Array<Number>
DECLARE NATIVE FUNCTION pechochar(pad: Window, ch: Number)
DECLARE NATIVE FUNCTION pnoutrefresh(pad: Window, pminrow: Number, pmincol: Number, sminrow: Number, smincol: Number, smaxrow: Number, smaxcol: Number)
DECLARE NATIVE FUNCTION prefresh(pad: Window, pminrow: Number, pmincol: Number, sminrow: Number, smincol: Number, smaxrow: Number, smaxcol: Number)
DECLARE NATIVE FUNCTION qiflush()
DECLARE NATIVE FUNCTION raw()
DECLARE NATIVE FUNCTION noraw()
DECLARE NATIVE FUNCTION redrawwin(win: Window)
DECLARE NATIVE FUNCTION refresh()
DECLARE NATIVE FUNCTION wnoutrefresh(win: Window)
DECLARE NATIVE FUNCTION wrefresh(win: Window)
DECLARE NATIVE FUNCTION reset_prog_mode()
DECLARE NATIVE FUNCTION reset_shell_mode()
DECLARE NATIVE FUNCTION resetty()
DECLARE NATIVE FUNCTION savetty()
DECLARE NATIVE FUNCTION scr_dump(filename: String)
DECLARE NATIVE FUNCTION scr_init(filename: String)
DECLARE NATIVE FUNCTION scr_restore(filename: String)
DECLARE NATIVE FUNCTION scr_set(filename: String)
DECLARE NATIVE FUNCTION scroll(win: Window)
DECLARE NATIVE FUNCTION scrollok(win: Window, bf: Boolean)
DECLARE NATIVE FUNCTION scrl(n: Number)
DECLARE NATIVE FUNCTION wscrl(win: Window, n: Number)
DECLARE NATIVE FUNCTION setscrreg(top: Number, bottom: Number)
DECLARE NATIVE FUNCTION wsetscrreg(win: Window, top: Number, bottom: Number)
DECLARE NATIVE FUNCTION setsyx(y: Number, x: Number)
DECLARE NATIVE FUNCTION standend()
DECLARE NATIVE FUNCTION wstandend(win: Window)
DECLARE NATIVE FUNCTION standout()
DECLARE NATIVE FUNCTION wstandout(win: Window)
DECLARE NATIVE FUNCTION start_color()
DECLARE NATIVE FUNCTION stdscr(): Window
DECLARE NATIVE FUNCTION subpad(orig: Window, nlines: Number, ncols: Number, begin_y: Number, begin_x: Number): Window
DECLARE NATIVE FUNCTION subwin(orig: Window, nlines: Number, ncols: Number, begin_y: Number, begin_x: Number): Window
DECLARE NATIVE FUNCTION syncok(win: Window, bf: Boolean)
DECLARE NATIVE FUNCTION termattrs(): Number
DECLARE NATIVE FUNCTION termname(): String
DECLARE NATIVE FUNCTION timeout(delay: Number)
DECLARE NATIVE FUNCTION wtimeout(win: Window, delay: Number)
DECLARE NATIVE FUNCTION touchline(win: Window, start: Number, count: Number)
DECLARE NATIVE FUNCTION touchwin(win: Window)
DECLARE NATIVE FUNCTION untouchwin(win: Window)
DECLARE NATIVE FUNCTION unctrl(c: Number): String
DECLARE NATIVE FUNCTION ungetch(ch: Number)
DECLARE NATIVE FUNCTION use_env(f: Boolean)
DECLARE NATIVE FUNCTION vline(ch: Number, n: Number)
DECLARE NATIVE FUNCTION wvline(win: Window, ch: Number, n: Number)
DECLARE NATIVE FUNCTION mvvline(y: Number, x: Number, ch: Number, n: Number)
DECLARE NATIVE FUNCTION mvwvline(win: Window, y: Number, x: Number, ch: Number, n: Number)
DECLARE NATIVE FUNCTION wcursyncup(win: Window)
DECLARE NATIVE FUNCTION wredrawln(win: Window, beg_line: Number, num_lines: Number)
DECLARE NATIVE FUNCTION wsyncdown(win: Window)
DECLARE NATIVE FUNCTION wsyncup(win: Window)
DECLARE NATIVE FUNCTION wtouchln(win: Window, y: Number, n: Number, changed: Boolean)
