EXPORT FileOpenError
EXPORT DirectoryExists
EXPORT PathNotFound

DECLARE EXCEPTION FileOpenError
DECLARE EXCEPTION DirectoryExists
DECLARE EXCEPTION PathNotFound

DECLARE NATIVE FUNCTION bytes(filename: String): Bytes
DECLARE NATIVE FUNCTION lines(filename: String): Array<String> 
DECLARE NATIVE FUNCTION mkdir(path: String)
