DECLARE NATIVE FUNCTION array__append(INOUT self: Array, element: Cell)
DECLARE NATIVE FUNCTION array__extend(INOUT self: Array, elements: Array)
DECLARE NATIVE FUNCTION array__resize(INOUT self: Array, new_size: Number)
DECLARE NATIVE FUNCTION array__size(self: Array): Number
DECLARE NATIVE FUNCTION array__slice(a: Array, first: Number, first_from_end: Boolean, last: Number, last_from_end: Boolean): Array
DECLARE NATIVE FUNCTION array__splice(b: Array, a: Array, first: Number, first_from_end: Boolean, last: Number, last_from_end: Boolean): Array
DECLARE NATIVE FUNCTION array__to_string__number(self: Array<Number>): String
DECLARE NATIVE FUNCTION array__to_string__string(self: Array<String>): String
DECLARE NATIVE FUNCTION boolean__to_string(self: Boolean): String
DECLARE NATIVE FUNCTION dictionary__size(self: Dictionary): Number
DECLARE NATIVE FUNCTION dictionary__keys(self: Dictionary): Array<String>
DECLARE NATIVE FUNCTION number__to_string(self: Number): String
DECLARE NATIVE FUNCTION string__append(INOUT self: String, t: String)
DECLARE NATIVE FUNCTION string__length(self: String): Number
DECLARE NATIVE FUNCTION string__splice(t: String, s: String, first: Number, first_from_end: Boolean, last: Number, last_from_end: Boolean): String
DECLARE NATIVE FUNCTION string__substring(s: String, first: Number, first_from_end: Boolean, last: Number, last_from_end: Boolean): String
DECLARE NATIVE FUNCTION string__to_bytes(self: String): Bytes
DECLARE NATIVE FUNCTION bytes__from_array(INOUT self: Bytes, a: Array<Number>)
DECLARE NATIVE FUNCTION bytes__size(self: Bytes): Number
DECLARE NATIVE FUNCTION bytes__to_array(self: Bytes): Array<Number>
DECLARE NATIVE FUNCTION bytes__to_string(self: Bytes): String

DECLARE NATIVE FUNCTION chr(x: Number): String
DECLARE NATIVE FUNCTION concat(a: String, b: String): String
DECLARE NATIVE FUNCTION dec(INOUT a: Number)
DECLARE NATIVE FUNCTION inc(INOUT a: Number)
DECLARE NATIVE FUNCTION format(str: String, fmt: String): String
DECLARE NATIVE FUNCTION input(prompt: String): String
DECLARE NATIVE FUNCTION max(a: Number, b: Number): Number
DECLARE NATIVE FUNCTION min(a: Number, b: Number): Number
DECLARE NATIVE FUNCTION num(s: String): Number
DECLARE NATIVE FUNCTION ord(s: String): Number
DECLARE NATIVE FUNCTION print(s: String)
DECLARE NATIVE FUNCTION str(x: Number): String
DECLARE NATIVE FUNCTION strb(x: Boolean): String
DECLARE NATIVE FUNCTION substring(s: String, offset: Number, length: Number): String
