%|
 |  File: hash
 |
 |  Functions for hashing data using a variety of algorithms.
 |%

%|
 |  Function: crc32
 |
 |  Return the CRC32 of a given <String>.
 |%
DECLARE NATIVE FUNCTION crc32(data: String): Number

%|
 |  Function: crc32Bytes
 |
 |  Return the CRC32 of given <Bytes>.
 |%
DECLARE NATIVE FUNCTION crc32Bytes(data: Bytes): Number

%|
 |  Function: md5
 |
 |  Return the MD5 hash of a given <String> as a hex string.
 |%
DECLARE NATIVE FUNCTION md5(data: String): String

%|
 |  Function: md5Raw
 |
 |  Return the MD5 hash of a given <String> as raw <Bytes>.
 |%
DECLARE NATIVE FUNCTION md5Raw(data: String): Bytes

%|
 |  Function: md5Bytes
 |
 |  Return the MD5 hash of given <Bytes> as a hex string.
 |%
DECLARE NATIVE FUNCTION md5Bytes(data: Bytes): String

%|
 |  Function: md5BytesRaw
 |
 |  Return the MD5 hash of given <Bytes> as a raw <Bytes>.
 |%
DECLARE NATIVE FUNCTION md5BytesRaw(data: Bytes): Bytes

%|
 |  Function: sha1
 |
 |  Return the SHA1 hash of a given <String> as a hex string.
 |%
DECLARE NATIVE FUNCTION sha1(data: String): String

%|
 |  Function: sha1Raw
 |
 |  Return the SHA1 hash of a given <String> as raw <Bytes>.
 |%
DECLARE NATIVE FUNCTION sha1Raw(data: String): Bytes

%|
 |  Function: sha1Bytes
 |
 |  Return the SHA1 hash of given <Bytes> as a hex string.
 |%
DECLARE NATIVE FUNCTION sha1Bytes(data: Bytes): String

%|
 |  Function: sha1BytesRaw
 |
 |  Return the SHA1 hash of given <Bytes> as a raw <Bytes>.
 |%
DECLARE NATIVE FUNCTION sha1BytesRaw(data: Bytes): Bytes

%|
 |  Function: sha256
 |
 |  Return the SHA256 hash of a given <String> as a hex string.
 |%
DECLARE NATIVE FUNCTION sha256(data: String): String

%|
 |  Function: sha256Raw
 |
 |  Return the SHA256 hash of a given <String> as raw <Bytes>.
 |%
DECLARE NATIVE FUNCTION sha256Raw(data: String): Bytes

%|
 |  Function: sha256Bytes
 |
 |  Return the SHA256 hash of given <Bytes> as a hex string.
 |%
DECLARE NATIVE FUNCTION sha256Bytes(data: Bytes): String

%|
 |  Function: sha256BytesRaw
 |
 |  Return the SHA256 hash of given <Bytes> as a raw <Bytes>.
 |%
DECLARE NATIVE FUNCTION sha256BytesRaw(data: Bytes): Bytes

%|
 |  Function: sha3
 |
 |  Return the SHA3 hash of a given <String> as a hex string.
 |%
DECLARE NATIVE FUNCTION sha3(data: String): String

%|
 |  Function: sha3Raw
 |
 |  Return the SHA3 hash of a given <String> as raw <Bytes>.
 |%
DECLARE NATIVE FUNCTION sha3Raw(data: String): Bytes

%|
 |  Function: sha3Bytes
 |
 |  Return the SHA3 hash of given <Bytes> as a hex string.
 |%
DECLARE NATIVE FUNCTION sha3Bytes(data: Bytes): String

%|
 |  Function: sha3BytesRaw
 |
 |  Return the SHA3 hash of given <Bytes> as a raw <Bytes>.
 |%
DECLARE NATIVE FUNCTION sha3BytesRaw(data: Bytes): Bytes
