%|
 |  File: http
 |
 |  Functions for making HTTP requests.
 |%

EXPORT HttpError

%|
 |  Exception: HttpError
 |
 |  Raised when an HTTP request returns anything other than 200 OK.
 |%
DECLARE EXCEPTION HttpError

%|
 |  Function: get
 |
 |  Perform an HTTP GET operation with the specified url.
 |
 |  Parameters:
 |      url - the url
 |      headers - the response headers from the server
 |%
DECLARE NATIVE FUNCTION get(url: String, INOUT headers: Array<String>): Bytes

%|
 |  Function: post
 |
 |  Perform an HTTP POST operation with the specified url and post data.
 |
 |  Parameters:
 |      url - the url
 |      post_data - the body of the POST request
 |      headers - the response headers from the server
 |%
DECLARE NATIVE FUNCTION post(url: String, post_data: String, INOUT headers: Array<String>): Bytes
