%|
 |  File: mmap
 |
 |  Memory mapped file access.
 |%

EXPORT MemoryFile
EXPORT Mode

%|
 |  Enumeration: Mode
 |
 |  Mode to use when opening a file.
 |
 |  Values:
 |      read - read only
 |      write - read or write
 |%
TYPE Mode IS ENUM
    read
    write
END ENUM

%|
 |  Type: MemoryFile
 |
 |  Opaque type representing a memory mapped file.
 |%
TYPE MemoryFile IS POINTER

%|
 |  Exception: InvalidFile
 |
 |  An invalid (NIL) file was used.
 |%
DECLARE EXCEPTION InvalidFile

%|
 |  Exception: OpenFile
 |
 |  An error occured while trying to open the file.
 |%
DECLARE EXCEPTION OpenFile

%|
 |  Function: close
 |
 |  Close a memory mapped file.
 |%
DECLARE NATIVE FUNCTION close(INOUT f: MemoryFile)

%|
 |  Function: open
 |
 |  Open a memory mapped file.
 |
 |  TODO: The only valid mode is currently Mode.read.
 |%
DECLARE NATIVE FUNCTION open(name: String, mode: Mode): MemoryFile

%|
 |  Function: read
 |
 |  Read bytes from a memory mapped file at the given offset.
 |%
DECLARE NATIVE FUNCTION read(f: MemoryFile, offset: Number, count: Number): Bytes

%|
 |  Function: size
 |
 |  Return the size of a memory mapped file.
 |%
DECLARE NATIVE FUNCTION size(f: MemoryFile): Number

%|
 |  Function: write
 |
 |  Write bytes to a memory mapped file at the given offset.
 |%
DECLARE NATIVE FUNCTION write(f: MemoryFile, offset: Number, data: Bytes)
