%|
 |  File: sdl
 |
 |  Provides access to the Simple DirectMedia Layer (https://www.libsdl.org/).
 |%

EXPORT NullRect
EXPORT Event
EXPORT Point
EXPORT Rect
EXPORT Renderer
EXPORT Surface
EXPORT Texture
EXPORT Window

TYPE Renderer IS POINTER
TYPE Surface IS POINTER
TYPE Texture IS POINTER
TYPE Window IS POINTER

TYPE Event IS RECORD
    type: Number
    window: RECORD
        timestamp: Number
        windowID: Number
        event: Number
        data1: Number
        data2: Number
    END RECORD
    key: RECORD
        timestamp: Number
        windowID: Number
        state: Number
        repeat: Boolean
        keysym: RECORD
            scancode: Number
            sym: Number
            mod: Number
        END RECORD
    END RECORD
    button: RECORD
        timestamp: Number
        windowID: Number
        which: Number
        button: Number
        state: Number
        clicks: Number
        x: Number
        y: Number
    END RECORD
END RECORD

TYPE Point IS RECORD
    x: Number
    y: Number
END RECORD

TYPE Rect IS RECORD
    x: Number
    y: Number
    w: Number
    h: Number
    PRIVATE null: Boolean
END RECORD

CONSTANT NullRect: Rect := Rect(0, 0, 0, 0, TRUE)

DECLARE NATIVE CONSTANT INIT_VIDEO: Number
DECLARE NATIVE CONSTANT RENDERER_ACCELERATED: Number
DECLARE NATIVE CONSTANT RENDERER_PRESENTVSYNC: Number
DECLARE NATIVE CONSTANT SDL_BUTTON_LEFT: Number
DECLARE NATIVE CONSTANT SDL_BUTTON_RIGHT: Number
DECLARE NATIVE CONSTANT SDL_KEYDOWN: Number
DECLARE NATIVE CONSTANT SDL_KEYUP: Number
DECLARE NATIVE CONSTANT SDL_MOUSEBUTTONDOWN: Number
DECLARE NATIVE CONSTANT SDL_MOUSEBUTTONUP: Number
DECLARE NATIVE CONSTANT SDL_QUIT: Number
DECLARE NATIVE CONSTANT SDL_WINDOWEVENT: Number
DECLARE NATIVE CONSTANT SDL_WINDOWEVENT_SHOWN: Number
DECLARE NATIVE CONSTANT SDLK_LEFT: Number
DECLARE NATIVE CONSTANT SDLK_LSHIFT: Number
DECLARE NATIVE CONSTANT SDLK_RIGHT: Number
DECLARE NATIVE CONSTANT SDLK_RSHIFT: Number
DECLARE NATIVE CONSTANT SDLK_SPACE: Number
DECLARE NATIVE CONSTANT SDLK_UP: Number
DECLARE NATIVE CONSTANT WINDOW_SHOWN: Number

DECLARE NATIVE FUNCTION CreateRGBSurface(flags, width, height, depth, Rmask, Gmask, Bmask, Amask: Number): Surface
DECLARE NATIVE FUNCTION CreateRenderer(window: Window, index: Number, flags: Number): Renderer
DECLARE NATIVE FUNCTION CreateSoftwareRenderer(surface: Surface): Renderer
DECLARE NATIVE FUNCTION CreateTextureFromSurface(renderer: Renderer, surface: Surface): Texture
DECLARE NATIVE FUNCTION CreateWindow(title: String, x, y, w, h: Number, flags: Number): Window
DECLARE NATIVE FUNCTION Delay(ms: Number)
DECLARE NATIVE FUNCTION DestroyRenderer(renderer: Renderer)
DECLARE NATIVE FUNCTION DestroyTexture(texture: Texture)
DECLARE NATIVE FUNCTION DestroyWindow(window: Window)
DECLARE NATIVE FUNCTION FreeSurface(surface: Surface)
DECLARE NATIVE FUNCTION Init(flags: Number)
DECLARE NATIVE FUNCTION LoadBMP(file: String): Surface
DECLARE NATIVE FUNCTION PollEvent(OUT event: Event): Boolean
DECLARE NATIVE FUNCTION Quit()
DECLARE NATIVE FUNCTION RenderClear(renderer: Renderer)
DECLARE NATIVE FUNCTION RenderCopy(renderer: Renderer, texture: Texture, srcrect, dstrect: Rect)
DECLARE NATIVE FUNCTION RenderDrawLine(renderer: Renderer, x1, y1, x2, y2: Number)
DECLARE NATIVE FUNCTION RenderDrawLines(renderer: Renderer, points: Array<Array<Number>>)
DECLARE NATIVE FUNCTION RenderDrawPoint(renderer: Renderer, x, y: Number)
DECLARE NATIVE FUNCTION RenderFillRect(renderer: Renderer, rect: Rect)
DECLARE NATIVE FUNCTION RenderPresent(renderer: Renderer)
DECLARE NATIVE FUNCTION SetRenderDrawColor(renderer: Renderer, r, g, b, a: Number)
DECLARE NATIVE FUNCTION WaitEvent(OUT event: Event): Boolean
