%|
 |  File: sodium
 |
 |  Interface file for https://libsodium.org.
 |%

EXPORT SodiumException

EXPORT box_NONCEBYTES
EXPORT generichash_BYTES_MAX
EXPORT generichash_KEYBYTES_MAX
EXPORT secretbox_KEYBYTES
EXPORT secretbox_NONCEBYTES
EXPORT shorthash_KEYBYTES
EXPORT sign_BYTES

EXPORT init
EXPORT randombytes
EXPORT randombytes_close
EXPORT randombytes_random
EXPORT randombytes_uniform
EXPORT aead_aes256gcm_is_available
EXPORT auth
EXPORT auth_verify
EXPORT auth_hmacsha256
EXPORT auth_hmacsha256_verify
EXPORT auth_hmacsha512
EXPORT auth_hmacsha512_verify
EXPORT aead_aes256gcm_encrypt
EXPORT aead_aes256gcm_decrypt
EXPORT box
EXPORT box_keypair
EXPORT box_open
EXPORT box_seal
EXPORT box_seal_open
EXPORT box_seed_keypair
EXPORT generichash
EXPORT hash
EXPORT hash_sha256
EXPORT onetimeauth
EXPORT onetimeauth_verify
EXPORT pwhash_scryptsalsa208sha256
EXPORT pwhash_scryptsalsa208sha256_str
EXPORT pwhash_scryptsalsa208sha256_str_verify
EXPORT scalarmult
EXPORT scalarmult_base
EXPORT secretbox
EXPORT secretbox_open
EXPORT shorthash
EXPORT sign
EXPORT sign_open
EXPORT sign_detached
EXPORT sign_verify_detached
EXPORT sign_keypair
EXPORT sign_seed_keypair
EXPORT sign_ed25519_sk_to_seed
EXPORT sign_ed25519_sk_to_pk
EXPORT stream
EXPORT stream_xor
EXPORT stream_xsalsa20_xor_ic
EXPORT stream_salsa20
EXPORT stream_salsa20_xor_ic

EXCEPTION SodiumException
EXCEPTION SodiumException.DecryptionFailed
EXCEPTION SodiumException.InvalidParameterLength

DECLARE NATIVE CONSTANT box_NONCEBYTES: Number
DECLARE NATIVE CONSTANT generichash_BYTES_MAX: Number
DECLARE NATIVE CONSTANT generichash_KEYBYTES_MAX: Number
DECLARE NATIVE CONSTANT secretbox_KEYBYTES: Number
DECLARE NATIVE CONSTANT secretbox_NONCEBYTES: Number
DECLARE NATIVE CONSTANT shorthash_KEYBYTES: Number
DECLARE NATIVE CONSTANT sign_BYTES: Number

DECLARE NATIVE FUNCTION init()

DECLARE NATIVE FUNCTION randombytes(size: Number): Bytes
DECLARE NATIVE FUNCTION randombytes_close()
DECLARE NATIVE FUNCTION randombytes_random(): Number
DECLARE NATIVE FUNCTION randombytes_uniform(upper_bound: Number): Number

DECLARE NATIVE FUNCTION aead_aes256gcm_is_available(): Boolean

DECLARE NATIVE FUNCTION auth(message: Bytes, key: Bytes): Bytes
DECLARE NATIVE FUNCTION auth_verify(auth: Bytes, message: Bytes, key: Bytes): Boolean
DECLARE NATIVE FUNCTION auth_hmacsha256(message: Bytes, key: Bytes): Bytes
DECLARE NATIVE FUNCTION auth_hmacsha256_verify(auth: Bytes, message: Bytes, key: Bytes): Boolean
DECLARE NATIVE FUNCTION auth_hmacsha512(message: Bytes, key: Bytes): Bytes
DECLARE NATIVE FUNCTION auth_hmacsha512_verify(auth: Bytes, message: Bytes, key: Bytes): Boolean

DECLARE NATIVE FUNCTION aead_aes256gcm_encrypt(message: Bytes, ad: Bytes, nonce: Bytes, key: Bytes): Bytes
DECLARE NATIVE FUNCTION aead_aes256gcm_decrypt(ciphertext: Bytes, ad: Bytes, nonce: Bytes, key: Bytes): Bytes

DECLARE NATIVE FUNCTION box(message: Bytes, nonce: Bytes, pk: Bytes, sk: Bytes): Bytes
DECLARE NATIVE FUNCTION box_keypair(OUT pk: Bytes, OUT sk: Bytes)
DECLARE NATIVE FUNCTION box_open(ciphertext: Bytes, nonce: Bytes, pk: Bytes, sk: Bytes): Bytes
DECLARE NATIVE FUNCTION box_seal(message: Bytes, pk: Bytes): Bytes
DECLARE NATIVE FUNCTION box_seal_open(ciphertext: Bytes, pk: Bytes, sk: Bytes): Bytes
DECLARE NATIVE FUNCTION box_seed_keypair(OUT pk: Bytes, OUT sk: Bytes, seed: Bytes)

DECLARE NATIVE FUNCTION generichash(outlen: Number, in: Bytes, key: Bytes): Bytes
DECLARE NATIVE FUNCTION hash(in: Bytes): Bytes
DECLARE NATIVE FUNCTION hash_sha256(in: Bytes): Bytes

DECLARE NATIVE FUNCTION onetimeauth(in: Bytes, key: Bytes): Bytes
DECLARE NATIVE FUNCTION onetimeauth_verify(auth: Bytes, in: Bytes, key: Bytes): Boolean

DECLARE NATIVE FUNCTION pwhash_scryptsalsa208sha256(outlen: Number, passwd: Bytes, salt: Bytes, opslimit: Number, memlimit: Number): Bytes
DECLARE NATIVE FUNCTION pwhash_scryptsalsa208sha256_str(passwd: String, opslimit: Number, memlimit: Number): String
DECLARE NATIVE FUNCTION pwhash_scryptsalsa208sha256_str_verify(str: String, passwd: String): Boolean

DECLARE NATIVE FUNCTION scalarmult(sk: Bytes, pk: Bytes): Bytes
DECLARE NATIVE FUNCTION scalarmult_base(sk: Bytes): Bytes

DECLARE NATIVE FUNCTION secretbox(message: Bytes, nonce: Bytes, key: Bytes): Bytes
DECLARE NATIVE FUNCTION secretbox_open(ciphertext: Bytes, nonce: Bytes, key: Bytes): Bytes

DECLARE NATIVE FUNCTION shorthash(in: Bytes, key: Bytes): Bytes

DECLARE NATIVE FUNCTION sign(message: Bytes, sk: Bytes): Bytes
DECLARE NATIVE FUNCTION sign_open(signedmessage: Bytes, pk: Bytes): Bytes
DECLARE NATIVE FUNCTION sign_detached(message: Bytes, sk: Bytes): Bytes
DECLARE NATIVE FUNCTION sign_verify_detached(sig: Bytes, message: Bytes, pk: Bytes): Boolean
DECLARE NATIVE FUNCTION sign_keypair(OUT pk: Bytes, OUT sk: Bytes)
DECLARE NATIVE FUNCTION sign_seed_keypair(OUT pk: Bytes, OUT sk: Bytes, seed: Bytes)
DECLARE NATIVE FUNCTION sign_ed25519_sk_to_seed(sk: Bytes): Bytes
DECLARE NATIVE FUNCTION sign_ed25519_sk_to_pk(sk: Bytes): Bytes

DECLARE NATIVE FUNCTION stream(len: Number, nonce: Bytes, key: Bytes): Bytes
DECLARE NATIVE FUNCTION stream_xor(in: Bytes, nonce: Bytes, key: Bytes): Bytes
DECLARE NATIVE FUNCTION stream_xsalsa20_xor_ic(in: Bytes, nonce: Bytes, ic: Number, key: Bytes): Bytes
DECLARE NATIVE FUNCTION stream_salsa20(len: Number, nonce: Bytes, key: Bytes): Bytes
DECLARE NATIVE FUNCTION stream_salsa20_xor_ic(in: Bytes, nonce: Bytes, ic: Number, key: Bytes): Bytes
