%|
 |  File: string
 |
 |  Functions for common string operations.
 |%

EXPORT find
EXPORT hasPrefix
EXPORT hasSuffix
EXPORT isBlank
EXPORT join
EXPORT lower
EXPORT repeat
EXPORT split
EXPORT splitLines
EXPORT trimCharacters
EXPORT upper

%|
 |  Function: find
 |
 |  Find the index of a string within another.
 |%
DECLARE NATIVE FUNCTION find(s: String, t: String): Number

%|
 |  Function: hasPrefix
 |
 |  Return TRUE if a string has a specific prefix.
 |%
DECLARE NATIVE FUNCTION hasPrefix(s: String, prefix: String): Boolean

%|
 |  Function: hasSuffix
 |
 |  Return TRUE if a string has a specific suffix.
 |%
DECLARE NATIVE FUNCTION hasSuffix(s: String, suffix: String): Boolean

%|
 |  Function: isBlank
 |
 |  Return TRUE if a string is empty or contains only whitespace.
 |%
FUNCTION isBlank(s: String): Boolean
    FOREACH c IN s DO
        IF c NOT IN [" ", "\t"] THEN
            RETURN FALSE
        END IF
    END FOREACH
    RETURN TRUE
END FUNCTION

%|
 |  Function: join
 |
 |  Join an array of strings together using the given delimiter.
 |%
DECLARE NATIVE FUNCTION join(a: Array<String>, d: String): String

%|
 |  Function: lower
 |
 |  Return a string with all alphabetic characters converted to lower case.
 |%
DECLARE NATIVE FUNCTION lower(s: String): String

%|
 |  Function: repeat
 |
 |  Return a string with a given string repeated the specified number of times.
 |%
FUNCTION repeat(s: String, n: Number): String
    CHECK n >= 0 ELSE
        RAISE InvalidValueException
    END CHECK
    VAR r: String := ""
    VAR t: String := s
    VAR b: Number := n
    WHILE b > 0 DO
        IF odd(b) THEN
            r.append(t)
        END IF
        t.append(t)
        b := b INTDIV 2
    END WHILE
    RETURN r
END FUNCTION

%|
 |  Function: split
 |
 |  Split a string into parts using the given delimiter.
 |%
DECLARE NATIVE FUNCTION split(s: String, d: String): Array<String>

%|
 |  Function: splitLines
 |
 |  Split a string into lines using any of CRLF or CR or LF line endings.
 |%
DECLARE NATIVE FUNCTION splitLines(s: String): Array<String>

%|
 |  Function: trimCharacters
 |
 |  Trim given characters from the start and end of a string.
 |%
DECLARE NATIVE FUNCTION trimCharacters(s: String, trimChars: String): String

%|
 |  Function: trim
 |
 |  Trim spaces from the start and end of a string.
 |%
FUNCTION trim(s: String): String
    RETURN trimCharacters(s, " ")
END FUNCTION

%|
 |  Function: upper
 |
 |  Return a string with all alphabetic characters converted to upper case.
 |%
DECLARE NATIVE FUNCTION upper(s: String): String
