%|
 |  File: sys
 |
 |  Functions for interacting with the system.
 |%

%|
 |  Function: argv
 |
 |  Return the command line arguments passed to the current process when it started.
 |%
DECLARE NATIVE FUNCTION argv(): Array<String>

%|
 |  Function: exit
 |
 |  Return to the operating system immediately with the given exit code.
 |%
DECLARE NATIVE FUNCTION exit(x: Number)
