<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8"> 
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  </head>
  <body>
    <div id="page">
      <div class="title">
        <a href="/">
          Neon
        </a>
      </div>
      <div class="links">
        <p>
          <a href="/">home</a> |
          <a href="/docs/">documentation</a> |
          <a href="/download.html">download</a> |
          <a href="https://github.com/ghewgill/neon-lang">source</a>
        </p>
      </div>
      {{ content }}
    </div>
  </body>
</html>
