VAR a: Array<Number> := []

a[0] := 0
TESTCASE a.size() = 1

a.resize(3)
TESTCASE a.size() = 3
TESTCASE a[2] = 0

a.resize(2)
TESTCASE a.size() = 2
TESTCASE a[2] EXPECT PANIC "Array index exceeds size 2: 2"
TESTCASE a.resize(1.5) EXPECT PANIC "Invalid array size: 1.5"
