VAR a: Array<Number>

a[0] := 0
ASSERT a.size() = 1

a.resize(3)
ASSERT a.size() = 3
ASSERT a[2] = 0

a.resize(2)
ASSERT a.size() = 2
TRY
    print(str(a[2]))
EXCEPTION ArrayIndex
    print("ArrayIndex 1")
END TRY
%= ArrayIndex 1

TRY
    a.resize(1.5)
EXCEPTION ArrayIndex
    print("ArrayIndex 2")
END TRY
%= ArrayIndex 2
