LET an: Array<Number> := [1,2,3]
print("\(an)")
#= [1, 2, 3]

LET as: Array<String> := ["foo","bar"]
print("\(as)")
#= ["foo", "bar"]

FUNCTION f(): Array<Number>
    RETURN an
END FUNCTION

ASSERT f() = [1,2,3]
