LET n: Array<Number> := [1, 2, 3, 0, 4]
LET buf: Bytes := n.toBytes()
print("\(buf.size())")
--= 5

VAR a: Array<Number> := buf.toArray()
print("\(a.size())")
--= 5
print("\(a[0]), \(a[4])")
--= 1, 4

LET n0: Array<Number> := [0, 1, 2, 253, 254, 255]
TESTCASE n0.toBytes() = HEXBYTES "00 01 02 fd fe ff"

LET n1: Array<Number> := [-1]
TESTCASE n1.toBytes() EXPECT ByteOutOfRangeException

LET n2: Array<Number> := [256]
TESTCASE n2.toBytes() EXPECT ByteOutOfRangeException
