VAR s: Bytes := HEXBYTES "00 01 02"
VAR t: Bytes := HEXBYTES "03 04 05"

TESTCASE s[1] = 1
TESTCASE s & t = HEXBYTES "00 01 02 03 04 05"
TESTCASE s[1 TO LAST] = HEXBYTES "01 02"

t[1] := 6
TESTCASE t = HEXBYTES "03 06 05"

VAR q: Bytes := s
s.append(t)
TESTCASE q = HEXBYTES "01 02 03 04 06 05"

q[1 TO LAST-1] := HEXBYTES "03"
TESTCASE q = HEXBYTES "01 03 05"

LET n: Array<Number> := [1, 2, 3, 0, 4]
LET buf: Bytes := n.toBytes()
TESTCASE buf.size() = 5

VAR a: Array<Number> := buf.toArray()
TESTCASE a.size() = 5
TESTCASE a[0] = 1
TESTCASE a[4] = 4

LET n0: Array<Number> := [0, 1, 2, 253, 254, 255]
TESTCASE n0.toBytes() = HEXBYTES "00 01 02 fd fe ff"

LET n1: Array<Number> := [-1]
TESTCASE n1.toBytes() EXPECT ByteOutOfRangeException

LET n2: Array<Number> := [256]
TESTCASE n2.toBytes() EXPECT ByteOutOfRangeException
