CONSTANT b: Bytes := HEXBYTES "01 02 03"

TESTCASE b[1.5] EXPECT PANIC "Bytes index not an integer: 1.5"
TESTCASE b[0.2 TO 1.9] EXPECT PANIC "First index not an integer: 0.2"

TESTCASE b[-2] EXPECT PANIC "Bytes index is negative: -2"
TESTCASE b[-1] EXPECT PANIC "Bytes index is negative: -1"
TESTCASE b[ 0] = 1
TESTCASE b[ 1] = 2
TESTCASE b[ 2] = 3
TESTCASE b[ 3] EXPECT PANIC "Bytes index exceeds size 3: 3"
TESTCASE b[ 4] EXPECT PANIC "Bytes index exceeds size 3: 4"

TESTCASE b[-2 TO -2] = HEXBYTES ""
TESTCASE b[-2 TO -1] = HEXBYTES ""
TESTCASE b[-2 TO  0] = HEXBYTES "01"
TESTCASE b[-2 TO  1] = HEXBYTES "01 02"
TESTCASE b[-2 TO  2] = HEXBYTES "01 02 03"
TESTCASE b[-2 TO  3] = HEXBYTES "01 02 03"
TESTCASE b[-2 TO  4] = HEXBYTES "01 02 03"

TESTCASE b[-1 TO -2] = HEXBYTES ""
TESTCASE b[-1 TO -1] = HEXBYTES ""
TESTCASE b[-1 TO  0] = HEXBYTES "01"
TESTCASE b[-1 TO  1] = HEXBYTES "01 02"
TESTCASE b[-1 TO  2] = HEXBYTES "01 02 03"
TESTCASE b[-1 TO  3] = HEXBYTES "01 02 03"
TESTCASE b[-1 TO  4] = HEXBYTES "01 02 03"

TESTCASE b[ 0 TO -2] = HEXBYTES ""
TESTCASE b[ 0 TO -1] = HEXBYTES ""
TESTCASE b[ 0 TO  0] = HEXBYTES "01"
TESTCASE b[ 0 TO  1] = HEXBYTES "01 02"
TESTCASE b[ 0 TO  2] = HEXBYTES "01 02 03"
TESTCASE b[ 0 TO  3] = HEXBYTES "01 02 03"
TESTCASE b[ 0 TO  4] = HEXBYTES "01 02 03"

TESTCASE b[ 1 TO -2] = HEXBYTES ""
TESTCASE b[ 1 TO -1] = HEXBYTES ""
TESTCASE b[ 1 TO  0] = HEXBYTES ""
TESTCASE b[ 1 TO  1] = HEXBYTES "02"
TESTCASE b[ 1 TO  2] = HEXBYTES "02 03"
TESTCASE b[ 1 TO  3] = HEXBYTES "02 03"
TESTCASE b[ 1 TO  4] = HEXBYTES "02 03"

TESTCASE b[ 2 TO -2] = HEXBYTES ""
TESTCASE b[ 2 TO -1] = HEXBYTES ""
TESTCASE b[ 2 TO  0] = HEXBYTES ""
TESTCASE b[ 2 TO  1] = HEXBYTES ""
TESTCASE b[ 2 TO  2] = HEXBYTES "03"
TESTCASE b[ 2 TO  3] = HEXBYTES "03"
TESTCASE b[ 2 TO  4] = HEXBYTES "03"

TESTCASE b[ 3 TO -2] = HEXBYTES ""
TESTCASE b[ 3 TO -1] = HEXBYTES ""
TESTCASE b[ 3 TO  0] = HEXBYTES ""
TESTCASE b[ 3 TO  1] = HEXBYTES ""
TESTCASE b[ 3 TO  2] = HEXBYTES ""
TESTCASE b[ 3 TO  3] = HEXBYTES ""
TESTCASE b[ 3 TO  4] = HEXBYTES ""

TESTCASE b[ 4 TO -2] = HEXBYTES ""
TESTCASE b[ 4 TO -1] = HEXBYTES ""
TESTCASE b[ 4 TO  0] = HEXBYTES ""
TESTCASE b[ 4 TO  1] = HEXBYTES ""
TESTCASE b[ 4 TO  2] = HEXBYTES ""
TESTCASE b[ 4 TO  3] = HEXBYTES ""
TESTCASE b[ 4 TO  4] = HEXBYTES ""
