CONSTANT b: Bytes := HEXBYTES "01 02 03"

ASSERT (TRY b[-2 TO -2] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"
ASSERT (TRY b[-2 TO -1] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"
ASSERT (TRY b[-2 TO  0] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"
ASSERT (TRY b[-2 TO  1] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"
ASSERT (TRY b[-2 TO  2] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"
ASSERT (TRY b[-2 TO  3] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"
ASSERT (TRY b[-2 TO  4] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"

ASSERT (TRY b[-1 TO -2] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"
ASSERT (TRY b[-1 TO -1] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"
ASSERT (TRY b[-1 TO  0] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"
ASSERT (TRY b[-1 TO  1] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"
ASSERT (TRY b[-1 TO  2] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"
ASSERT (TRY b[-1 TO  3] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"
ASSERT (TRY b[-1 TO  4] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"

ASSERT      b[ 0 TO -2] = HEXBYTES ""
ASSERT      b[ 0 TO -1] = HEXBYTES ""
ASSERT      b[ 0 TO  0] = HEXBYTES "01"
ASSERT      b[ 0 TO  1] = HEXBYTES "01 02"
ASSERT      b[ 0 TO  2] = HEXBYTES "01 02 03"
ASSERT (TRY b[ 0 TO  3] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"
ASSERT (TRY b[ 0 TO  4] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"

ASSERT      b[ 1 TO -2] = HEXBYTES ""
ASSERT      b[ 1 TO -1] = HEXBYTES ""
ASSERT      b[ 1 TO  0] = HEXBYTES ""
ASSERT      b[ 1 TO  1] = HEXBYTES "02"
ASSERT      b[ 1 TO  2] = HEXBYTES "02 03"
ASSERT (TRY b[ 1 TO  3] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"
ASSERT (TRY b[ 1 TO  4] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"

ASSERT      b[ 2 TO -2] = HEXBYTES ""
ASSERT      b[ 2 TO -1] = HEXBYTES ""
ASSERT      b[ 2 TO  0] = HEXBYTES ""
ASSERT      b[ 2 TO  1] = HEXBYTES ""
ASSERT      b[ 2 TO  2] = HEXBYTES "03"
ASSERT (TRY b[ 2 TO  3] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"
ASSERT (TRY b[ 2 TO  4] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"

ASSERT (TRY b[ 3 TO -2] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"
ASSERT (TRY b[ 3 TO -1] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"
ASSERT (TRY b[ 3 TO  0] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"
ASSERT (TRY b[ 3 TO  1] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"
ASSERT (TRY b[ 3 TO  2] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"
ASSERT (TRY b[ 3 TO  3] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"
ASSERT (TRY b[ 3 TO  4] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"

ASSERT (TRY b[ 4 TO -2] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"
ASSERT (TRY b[ 4 TO -1] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"
ASSERT (TRY b[ 4 TO  0] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"
ASSERT (TRY b[ 4 TO  1] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"
ASSERT (TRY b[ 4 TO  2] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"
ASSERT (TRY b[ 4 TO  3] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"
ASSERT (TRY b[ 4 TO  4] TRAP BytesIndexException GIVES HEXBYTES "00") = HEXBYTES "00"
