VAR a: Number := 0

CASE a WHEN =  5 DO WHEN =  6 DO END CASE
CASE a WHEN =  5 DO WHEN <> 5 DO END CASE
CASE a WHEN =  5 DO WHEN <  5 DO END CASE
CASE a WHEN =  5 DO WHEN >  5 DO END CASE
CASE a WHEN =  5 DO WHEN <= 4 DO END CASE
CASE a WHEN =  5 DO WHEN >= 6 DO END CASE

CASE a WHEN <> 5 DO WHEN =  5 DO END CASE

CASE a WHEN <  5 DO WHEN =  5 DO END CASE
CASE a WHEN <  5 DO WHEN >  5 DO END CASE
CASE a WHEN <  5 DO WHEN >= 5 DO END CASE

CASE a WHEN >  5 DO WHEN =  5 DO END CASE
CASE a WHEN >  5 DO WHEN <  5 DO END CASE
CASE a WHEN >  5 DO WHEN <= 5 DO END CASE

CASE a WHEN <= 5 DO WHEN =  6 DO END CASE
CASE a WHEN <= 5 DO WHEN >  5 DO END CASE
CASE a WHEN <= 5 DO WHEN >= 6 DO END CASE

CASE a WHEN >= 5 DO WHEN =  4 DO END CASE
CASE a WHEN >= 5 DO WHEN <  5 DO END CASE
CASE a WHEN >= 5 DO WHEN <= 4 DO END CASE

CASE a WHEN 4 TO 5 DO WHEN =  6 DO END CASE
CASE a WHEN 5 TO 5 DO WHEN <> 5 DO END CASE
CASE a WHEN 4 TO 5 DO WHEN <  4 DO END CASE
CASE a WHEN 4 TO 5 DO WHEN >  5 DO END CASE
CASE a WHEN 4 TO 5 DO WHEN <= 3 DO END CASE
CASE a WHEN 4 TO 5 DO WHEN >= 6 DO END CASE

CASE a WHEN 2 TO 3 DO WHEN 4 TO 5 DO END CASE
CASE a WHEN 4 TO 5 DO WHEN 2 TO 3 DO END CASE
