VAR a: Number
VAR s: String
a := 0
WHILE a < 10 DO
    CASE a
        WHEN < 2 DO
            s := "less than two"
        WHEN 2 DO
            s := "is two"
        WHEN 3..5 DO
            s := "three to five"
        WHEN 7, 9 DO
            s := "seven or nine"
        ELSE
            s := "is something else"
    END CASE
    print(str(a) & " " & s)
    a := a + 1
END WHILE

%= 0 less than two
%= 1 less than two
%= 2 is two
%= 3 three to five
%= 4 three to five
%= 5 three to five
%= 6 is something else
%= 7 seven or nine
%= 8 is something else
%= 9 seven or nine
