#|--------------------------------------------------------------------------|#
#| Testing "FlowerBox Comments..."                                          |#
#| Test Set     : comments.neon                                             |#
#| Created On   : 2014-10-21                                                |#
#| Updated On   : 2014-10-21                                                |#
#| Created By   : Larry Frieson                                             |#
#|--------------------------------------------------------------------------|#
print("FlowerBox Comments ok.")
#= FlowerBox Comments ok.

# Regular Neon comments...
print("Regular Comments ok.")

#= Regular Comments ok.

#|
    #|
        #|
            Testing Nested Comments...
        |#
    |#
|#

print("Nested Comments ok.")
#= Nested Comments ok.
