VAR a: Number
VAR b: Number
VAR c: Number

a := 4
b := 5
c := 6

print("\(a < b)")
#= TRUE

print("\(a <= b)")
#= TRUE

print("\(a = b)")
#= FALSE

print("\(a <> b)")
#= TRUE

print("\(a >= b)")
#= FALSE

print("\(a > b)")
#= FALSE

#print("\(a < b < c)")
## TRUE
