VAR d: Dictionary<String> := {}
d["hello"] := "world"
print(d["hello"])
--= world

TESTCASE d["foo"] EXPECT PANIC "Dictionary key not found: foo"

ASSERT "hello" IN d
d.remove("hello")
ASSERT "hello" NOT IN d

ASSERT "xyzzy" NOT IN d
d.remove("xyzzy")
ASSERT "xyzzy" NOT IN d
