IMPORT dns

LET q := dns.makeQuery("example.com", dns.Type.soa)
LET r := dns.execQuery("1.1.1.1", q)
CHECK r ISA dns.Result.response ELSE
    PANIC "no response"
END CHECK
print(r.response.rcode)
print("-- questions")
FOREACH x IN r.response.questions DO
    print(x)
END FOREACH
print("-- answers")
FOREACH x IN r.response.answers DO
    print(x)
END FOREACH
print("-- authorities")
FOREACH x IN r.response.authorities DO
    print(x)
END FOREACH
print("-- additional")
FOREACH x IN r.response.additionals DO
    print(x)
END FOREACH
