FUNCTION bstr(z: Boolean): String
    RETURN (IF z THEN "TRUE" ELSE "FALSE")
END FUNCTION

TYPE Rec IS RECORD x: Number END RECORD
TYPE Cls IS CLASS x: Number END CLASS
TYPE Enum IS ENUM one two END ENUM

FUNCTION f(x: Number) END FUNCTION

VAR b1, b2: Boolean := FALSE
VAR n1, n2: Number := 0
VAR s1, s2: String := ""
VAR x1, x2: Bytes := HEXBYTES ""
VAR a1, a2: Array<String> := []
VAR d1, d2: Dictionary<String> := {}
VAR r1, r2: Rec := Rec()
VAR e1, e2: Enum := Enum.one
VAR p1, p2: POINTER TO Cls := NIL
VAR f1, f2: FUNCTION(x: Number) := f

print(bstr(b2 = b1))
print(bstr(n2 = n1))
print(bstr(s2 = s1))
print(bstr(x2 = x1))
print(bstr(a2 = a1))
print(bstr(d2 = d1))
print(bstr(r2 = r1))
print(bstr(e2 = e1))
print(bstr(p2 = p1))
print(bstr(f2 = f1))
%= TRUE
%= TRUE
%= TRUE
%= TRUE
%= TRUE
%= TRUE
%= TRUE
%= TRUE
%= TRUE
%= TRUE
