EXCEPTION PrinterOnFireException

TRY
    RAISE PrinterOnFireException("A4")
TRAP PrinterOnFireException AS x DO
    print(x.name)
    print(x.info)
    print(str(x.offset))
END TRY

--= PrinterOnFireException
--= A4
--= 4
