DECLARE EXCEPTION PrinterOnFireException

TRY
    RAISE PrinterOnFireException("A4")
EXCEPTION PrinterOnFireException DO
    print(CURRENT_EXCEPTION.name)
    print(CURRENT_EXCEPTION.info)
    print(str(CURRENT_EXCEPTION.offset))
END TRY
print(CURRENT_EXCEPTION.name)

%= PrinterOnFireException
%= A4
%= 10
%=
