DECLARE EXCEPTION PrinterOnFire

TRY
    print("one")
    TRY
        RAISE PrinterOnFire
    EXCEPTION PrinterOnFire DO
        print("two")
    END TRY
EXCEPTION PrinterOnFire DO
    print("three")
END TRY

%= one
%= two
