% TODO
DECLARE EXCEPTION PrinterOnFireException

FUNCTION foo()
    TRY
        RAISE PrinterOnFireException("A4")
    EXCEPTION PrinterOnFireException DO
        print(CURRENT_EXCEPTION.name)
        print(CURRENT_EXCEPTION.info)
        EXIT FUNCTION
    END TRY
END FUNCTION

foo()
print(CURRENT_EXCEPTION.name)

%= PrinterOnFireException
%= A4
%=
