DECLARE EXCEPTION PrinterOnFire

TRY
    RAISE PrinterOnFire("A4")
EXCEPTION PrinterOnFire DO
    print(CURRENT_EXCEPTION.name)
    print(CURRENT_EXCEPTION.info)
    print(str(CURRENT_EXCEPTION.offset))
END TRY
print(CURRENT_EXCEPTION.name)

%= PrinterOnFire
%= A4
%= 10
%=
