DECLARE EXCEPTION PrinterOnFireException

TRY
    print("one")
    TRY
        RAISE PrinterOnFireException
    EXCEPTION PrinterOnFireException DO
        print("two")
    END TRY
EXCEPTION PrinterOnFireException DO
    print("three")
END TRY

%= one
%= two
