DECLARE EXCEPTION PrinterOnFire

TRY
    RAISE PrinterOnFire("error", 404)
EXCEPTION PrinterOnFire
    print("conflagration \(CURRENT_EXCEPTION.info) \(CURRENT_EXCEPTION.code)")
END TRY

%= conflagration error 404
