DECLARE EXCEPTION PrinterOnFireException

FUNCTION doit()
    RAISE PrinterOnFireException
END FUNCTION

TRY
    doit()
EXCEPTION PrinterOnFireException DO
    print("conflagration")
END TRY

%= conflagration
