% TODO SKIP (assertion failure)

DECLARE EXCEPTION PrinterOnFire

FUNCTION quux(): Number
    RAISE PrinterOnFire
    RETURN 0
END FUNCTION

FUNCTION foo(a, b: Number): Number
    RETURN a * b
END FUNCTION

FUNCTION bar(): Number
    VAR x: Number
    TRY
        x := foo(5, quux())
    EXCEPTION PrinterOnFire
    END TRY
    RETURN 3
END FUNCTION

print(str(foo(2, bar())))

%= 6
