% TODO
DECLARE EXCEPTION PrinterOnFire

FUNCTION foo()
    TRY
        RAISE PrinterOnFire("A4")
    EXCEPTION PrinterOnFire
        print(CURRENT_EXCEPTION.name)
        print(CURRENT_EXCEPTION.info)
        EXIT FUNCTION
    END TRY
END FUNCTION

foo()
print(CURRENT_EXCEPTION.name)

%= PrinterOnFire
%= A4
%=
