EXPORT TYPE Rec IS RECORD END RECORD
EXPORT CONSTANT Five: Number := 5
%EXPORT DECLARE NATIVE CONSTANT Eleventy: Number
EXPORT VAR Count1, Count2: Number
EXPORT LET Max: Number := 10
EXPORT FUNCTION add(x, y: Number): Number RETURN x + y END FUNCTION
EXPORT EXTERNAL FUNCTION sub() {"library": {"name": "nonexistent"}, "types": {}} END FUNCTION
EXPORT DECLARE NATIVE FUNCTION mul(x, y: Number): Number
EXPORT DECLARE EXCEPTION TestException
