IMPORT file

IF file.exists("LICENSE.txt") THEN
    print("file exists")
ELSE
    print("file does not exist")
END IF

--= file exists

IF file.exists("LICENSE.not") THEN
    print("file exists")
ELSE
    print("file does not exist")
END IF

--= file does not exist
