IMPORT file

IF file.exists("t/file-exists.neon") THEN
    print("file exists")
ELSE
    print("file does not exist")
END IF

#= file exists

IF file.exists("t/file-exist.neon") THEN
    print("file exists")
ELSE
    print("file does not exist")
END IF

#= file does not exist
