IMPORT file

LET an: Array<Number> := [4, 3, 2, 0, 1]
LET buf: Bytes := an.toBytes()
file.writeBytes("tmp/bytetest.bin", buf)

VAR a: Array<Number> := file.readBytes("tmp/bytetest.bin").toArray()
print("\(a[0]),\(a[1]),\(a[2]),\(a[3]),\(a[4])")

#= 4,3,2,0,1
