IMPORT file

-- This ensures that the file.copyOverwriteIfExists() will 
-- actually CREATE the file if it does not exist already.
CHECK file.delete("tmp/NEW_LICENSE.txt") ISA file.FileResult.ok ELSE
    PANIC "Test failed"
END CHECK

CHECK file.copyOverwriteIfExists("LICENSE.txt", "tmp/NEW_LICENSE.txt") ISA file.FileResult.ok ELSE
    PANIC "Test failed"
END CHECK
IF file.exists("tmp/NEW_LICENSE.txt") THEN
    print("File copied")
ELSE
    print("File not copied")
END IF

--= File copied
