IMPORT file

VAR lines: Array<String> := ["Hello", "Neon", "", "World!"]
TESTCASE file.writeLines("tmp/linetest.txt", lines) ISA file.FileResult.ok

LET r: file.LinesResult := file.readLines("tmp/linetest.txt")
CHECK r ISA file.LinesResult.lines ELSE
    RAISE TestFailedException
END CHECK
LET data: Array<String> := r.lines

print("\(data.size()) lines read.")
--= 4 lines read.

FOREACH s IN data DO
    print(s)
END FOREACH

--= Hello
--= Neon
--= 
--= World!
