IMPORT file

CHECK file.delete("tmp/license-copy.txt") ISA file.FileResult.ok ELSE
    PANIC "Test failed"
END CHECK
LET r: file.FileResult := file.copy("LICENSE.txt", "tmp/license-copy.txt")
IF r ISA file.FileResult.ok THEN
    print("File copied")
ELSE
    print("Failed")
END IF

--= File copied
