IMPORT file

VAR s: String := "0123456789"
FOR i := 1 TO 16 DO
    s := s & s
END FOR
file.writeLines("tmp/linelength.tmp", [s])
VAR t: Array<String> := file.readLines("tmp/linelength.tmp")
ASSERT t[0] = s
