IMPORT file

LET an: Array<Number> := [4, 3, 2, 0, 1]
LET buf: Bytes := an.toBytes()
file.writeBytes("tmp/bytetest.bin", buf)

LET r: file.BytesResult := file.readBytes("tmp/bytetest.bin")
CHECK r ISA file.BytesResult.data ELSE
    RAISE TestFailedException
END CHECK
VAR a: Array<Number> := r.data.toArray()
print("\(a[0]),\(a[1]),\(a[2]),\(a[3]),\(a[4])")

--= 4,3,2,0,1
