IMPORT file

VAR lines: Array<String> := ["Hello", "Neon", "", "World!"]
file.writelines("linetest.txt", lines)

VAR data: Array<String>
data := file.lines("linetest.txt")

print("\(data.size()) lines read.")
%= 4 lines read.

FOREACH s OF data DO
    print(s)
END FOREACH

%= Hello
%= Neon
%= 
%= World!
