LET a: Array<String> := ["foo", "bar", "baz"]
FOR x IN a DO
    print("x is \(x)")
END FOR
%= x is foo
%= x is bar
%= x is baz

FOR x IN a INDEX i DO
    print("index \(i) is \(x)")
END FOR
%= index 0 is foo
%= index 1 is bar
%= index 2 is baz
