% PLATFORM:posix

IMPORT posix
IMPORT sys

LET p: Number := posix.fork()
IF p <> 0 THEN
    VAR stat: Number := 0
    _ := posix.wait(INOUT stat) % Why does this need to be INOUT? Should be OUT.
    print(str(stat INTDIV 256))
    print("parent")
ELSE
    print("child")
    sys.exit(5)
END IF
%= child
%= 5
%= parent
