IMPORT string

TESTCASE string.format("", "5")       = "     "
TESTCASE string.format("a", "5")      = "a    "
TESTCASE string.format("ab", "5")     = "ab   "
TESTCASE string.format("abc", "5")    = "abc  "
TESTCASE string.format("abcd", "5")   = "abcd "
TESTCASE string.format("abcde", "5")  = "abcde"
TESTCASE string.format("abcdef", "5") = "abcdef"

TESTCASE string.format("", ">5")       = "     "
TESTCASE string.format("a", ">5")      = "    a"
TESTCASE string.format("ab", ">5")     = "   ab"
TESTCASE string.format("abc", ">5")    = "  abc"
TESTCASE string.format("abcd", ">5")   = " abcd"
TESTCASE string.format("abcde", ">5")  = "abcde"
TESTCASE string.format("abcdef", ">5") = "abcdef"

TESTCASE string.format("", "^5")       = "     "
TESTCASE string.format("a", "^5")      = "  a  "
TESTCASE string.format("ab", "^5")     = " ab  "
TESTCASE string.format("abc", "^5")    = " abc "
TESTCASE string.format("abcd", "^5")   = "abcd "
TESTCASE string.format("abcde", "^5")  = "abcde"
TESTCASE string.format("abcdef", "^5") = "abcdef"

TESTCASE string.format("", "5.3")       = "     "
TESTCASE string.format("a", "5.3")      = "a    "
TESTCASE string.format("ab", "5.3")     = "ab   "
TESTCASE string.format("abc", "5.3")    = "abc  "
TESTCASE string.format("abcd", "5.3")   = "abc  "
TESTCASE string.format("abcde", "5.3")  = "abc  "
TESTCASE string.format("abcdef", "5.3") = "abc  "

TESTCASE string.format("0", "4d")      = "   0"
TESTCASE string.format("1", "4d")      = "   1"
TESTCASE string.format("12", "4d")     = "  12"
TESTCASE string.format("123", "4d")    = " 123"
TESTCASE string.format("1234", "4d")   = "1234"
TESTCASE string.format("12345", "4d")  = "12345"

TESTCASE string.format("0", "04d")      = "0000"
TESTCASE string.format("1", "04d")      = "0001"
TESTCASE string.format("12", "04d")     = "0012"
TESTCASE string.format("123", "04d")    = "0123"
TESTCASE string.format("1234", "04d")   = "1234"
TESTCASE string.format("12345", "04d")  = "12345"

TESTCASE string.format("0", "4x")      = "   0"
TESTCASE string.format("1", "4x")      = "   1"
TESTCASE string.format("12", "4x")     = "   c"
TESTCASE string.format("123", "4x")    = "  7b"
TESTCASE string.format("1234", "4x")   = " 4d2"
TESTCASE string.format("12345", "4x")  = "3039"
TESTCASE string.format("123456", "4x") = "1e240"

TESTCASE string.format("0", "04x")      = "0000"
TESTCASE string.format("1", "04x")      = "0001"
TESTCASE string.format("12", "04x")     = "000c"
TESTCASE string.format("123", "04x")    = "007b"
TESTCASE string.format("1234", "04x")   = "04d2"
TESTCASE string.format("12345", "04x")  = "3039"
TESTCASE string.format("123456", "04x") = "1e240"
