FUNCTION ping(n: Number)
    IF n > 0 THEN
        print("ping " & str(n))
        pong(n - 1)
    END IF
END FUNCTION

FUNCTION pong(n: Number)
    IF n > 0 THEN
        print("pong " & str(n))
        ping(n - 1)
    END IF
END FUNCTION

ping(10)

%= ping 10
%= pong 9
%= ping 8
%= pong 7
%= ping 6
%= pong 5
%= ping 4
%= pong 3
%= ping 2
%= pong 1
