IMPORT runtime

TYPE Rec IS CLASS
    x: Number
END CLASS

VAR a: POINTER TO Rec
VAR b: POINTER TO Rec

a := NEW Rec(x WITH 5)
b := a
runtime.garbageCollect()
ASSERT runtime.getAllocatedObjectCount() = 1
a := NIL
runtime.garbageCollect()
ASSERT runtime.getAllocatedObjectCount() = 1
b := NIL
runtime.garbageCollect()
ASSERT runtime.getAllocatedObjectCount() = 0
