IMPORT runtime

TYPE Node := RECORD
    value: Number
END RECORD

VAR a, b: POINTER TO Node

% Simple collection.
ASSERT runtime.get_allocated_object_count() = 0
a := NEW Node
ASSERT runtime.get_allocated_object_count() = 1
a := NIL
b := NEW Node
ASSERT runtime.get_allocated_object_count() = 1
