IMPORT runtime

TYPE Node IS CLASS
    value: Number
END CLASS

VAR a, b: POINTER TO Node

runtime.setGarbageCollectionInterval(1)

-- Simple collection.
TESTCASE runtime.getAllocatedObjectCount() = 0
a := NEW Node
TESTCASE runtime.getAllocatedObjectCount() = 1
a := NIL
runtime.garbageCollect()
TESTCASE runtime.getAllocatedObjectCount() = 0
b := NEW Node
TESTCASE runtime.getAllocatedObjectCount() = 1
