IMPORT runtime

TYPE Node IS CLASS
    next: POINTER TO Node
    value: Number
END CLASS

FUNCTION make(next: POINTER TO Node): POINTER TO Node
    LET n: POINTER TO Node := NEW Node
    n->next := next
    RETURN n
END FUNCTION

VAR a, b: POINTER TO Node

runtime.setGarbageCollectionInterval(1)

# Cycle collection, with needing to mark the cycle.
ASSERT runtime.getAllocatedObjectCount() = 0
a := make(NIL)
ASSERT runtime.getAllocatedObjectCount() = 1
IF VALID a THEN
    a->next := make(a)
END IF
ASSERT runtime.getAllocatedObjectCount() = 2
b := NEW Node
ASSERT runtime.getAllocatedObjectCount() = 3
a := NIL
runtime.garbageCollect()
ASSERT runtime.getAllocatedObjectCount() = 1
b := NEW Node
ASSERT runtime.getAllocatedObjectCount() = 2
runtime.garbageCollect()
ASSERT runtime.getAllocatedObjectCount() = 1
