% SKIP There seems to be a race condition that hangs on Travis.
IMPORT http
IMPORT os
IMPORT string

LET p: os.Process := os.spawn("python -m SimpleHTTPServer 21010")
LET license: String := http.get("http://127.0.0.1:21010/LICENSE.txt")
print(string.split(license, "\n")[0])
%= The MIT License (MIT)
os.kill(p)
