IMPORT export

VAR r: export.Record
VAR c: POINTER TO export.Class
VAR e: export.Enum

ASSERT export.cb = TRUE
ASSERT export.cn = 1
ASSERT export.cs = "a"
ASSERT export.ca = [1]
ASSERT export.cd["a"] = 1
ASSERT export.cr.n = 1
%ASSERT export.ce = export.Enum.green

TRY
TRAP export.TestException DO
END TRY
