IMPORT export

TYPE Cls IS CLASS IMPLEMENTS export.Interface
    name: String
END CLASS

FUNCTION Cls.f(self: VALID POINTER TO Cls)
    print("foo")
END FUNCTION

VAR r: export.Record
VAR c: POINTER TO export.Class
VAR e: export.Enum

ASSERT export.cb = TRUE
ASSERT export.cn = 1
ASSERT export.cs = "a"
ASSERT export.ca = [1]
ASSERT export.cd["a"] = 1
ASSERT export.cr.n = 1
%ASSERT export.ce = export.Enum.green

TRY
TRAP export.TestException DO
END TRY

LET c1: POINTER TO export.Interface := NEW Cls
c1->f()
%= foo

LET c2: POINTER TO export.Interface := NEW export.Class2
c2->f()
%= f
