-- SKIP (requires stdin)
IMPORT console

VAR r: console.InputResult

r := console.input("Enter your name: ")
CASE r
    WHEN ISA console.InputResult.eof DO
        print("<eof>")
    WHEN ISA console.InputResult.line DO
        print(r.line)
END CASE
