INTERFACE Int1
    FUNCTION f1(self: Int1)
    FUNCTION f2(self: Int1)
END INTERFACE

INTERFACE Int2
    FUNCTION f3(self: Int2)
END INTERFACE

TYPE Cls1 IS CLASS
    IMPLEMENTS Int1
    IMPLEMENTS Int2
END CLASS

TYPE Cls2 IS CLASS
    IMPLEMENTS Int2, Int1
END CLASS

FUNCTION Cls1.f1(self: VALID POINTER TO Cls1)
    print("Cls1.f1")
END FUNCTION

FUNCTION Cls1.f2(self: VALID POINTER TO Cls1)
    print("Cls1.f2")
END FUNCTION

FUNCTION Cls1.f3(self: VALID POINTER TO Cls1)
    print("Cls1.f3")
END FUNCTION

FUNCTION Cls2.f1(self: VALID POINTER TO Cls2)
    print("Cls2.f1")
END FUNCTION

FUNCTION Cls2.f2(self: VALID POINTER TO Cls2)
    print("Cls2.f2")
END FUNCTION

FUNCTION Cls2.f3(self: VALID POINTER TO Cls2)
    print("Cls2.f3")
END FUNCTION

LET p1: POINTER TO Cls1 := NEW Cls1
LET p2: POINTER TO Cls2 := NEW Cls2

VAR i1: POINTER TO Int1 := p1
VAR i2: POINTER TO Int2 := p1
i1->f1()
%= Cls1.f1
i1->f2()
%= Cls1.f2
i2->f3()
%= Cls1.f3

i1 := p2
i2 := p2
i1->f1()
%= Cls2.f1
i1->f2()
%= Cls2.f2
i2->f3()
%= Cls2.f3
