INTERFACE Foo
END INTERFACE

INTERFACE Bar
END INTERFACE

TYPE Cls IS CLASS IMPLEMENTS Foo, Bar
    n: Number
END CLASS

VAR p: POINTER TO Foo := NIL
VAR q: POINTER TO Bar := NIL
TESTCASE p = NIL
TESTCASE NIL = q
TESTCASE p = q

p := NEW Cls(n WITH 4)
q := NEW Cls(n WITH 5)
TESTCASE p <> NIL
TESTCASE NIL <> q
TESTCASE p <> q
