CONSTANT fchr: String := chr(97)
CONSTANT fconcat: String := concat("a", "b")
CONSTANT fint: Number := int(1.5)
CONSTANT fmax: Number := max(1, 2)
CONSTANT fmin: Number := min(3, 4)
CONSTANT fnum: Number := num("4")
CONSTANT ford: Number := ord("b")
CONSTANT fround: Number := round(2, 1.234)
CONSTANT fstr: String := str(5)
CONSTANT fsubstring: String := substring("foobar", 1, 2)
