IMPORT io

LET stdout: io.File := io.stdout()

io.fprint(stdout, "Hello World")
%= Hello World

io.write(stdout, "Hello ")
io.write(stdout, "World\n")
%= Hello World

VAR f: io.File := io.open("LICENSE.txt", io.Mode.read)
VAR s: String
print(strb(io.readLine(f, s)))
%= TRUE
print(s)
%= The MIT License (MIT)

io.seek(f, 4, io.SeekBase.absolute)
print(io.readBytes(f, 5).toString())
%= MIT L
print(str(io.tell(f)))
%= 9

io.close(f)

f := io.open("tmp/io-test.tmp", io.Mode.write)
io.fprint(f, "Hello world")
io.seek(f, 7, io.SeekBase.absolute)
io.truncate(f)
io.close(f)
f := io.open("tmp/io-test.tmp", io.Mode.read)
print(strb(io.readLine(f, s)))
%= TRUE
print(s)
%= Hello w

io.close(f)
