IMPORT io
IMPORT random

LET stdout: io.File := io.stdout

io.fprint(stdout, "Hello World")
%= Hello World

io.write(stdout, "Hello ")
io.write(stdout, "World\n")
%= Hello World

VAR f: io.File := io.open("LICENSE.txt", io.Mode.read)
VAR s: String := ""
print(strb(io.readLine(f, OUT s)))
%= TRUE
print(s)
%= The MIT License (MIT)

io.seek(f, 4, io.SeekBase.absolute)
print(io.readBytes(f, 5).toString())
%= MIT L
print(str(io.tell(f)))
%= 9

io.close(INOUT f)

f := io.open("tmp/io-test.tmp", io.Mode.write)
io.fprint(f, "Hello world")
io.seek(f, 7, io.SeekBase.absolute)
io.truncate(f)
io.close(INOUT f)
f := io.open("tmp/io-test.tmp", io.Mode.read)
print(strb(io.readLine(f, OUT s)))
%= TRUE
print(s)
%= Hello w

io.close(INOUT f)

s := ""
FOR i := 1 TO 100000 DO
    s.append(chr(32 + random.uint32() MOD 96))
END FOR
f := io.open("tmp/io-test.tmp", io.Mode.write)
io.fprint(f, s)
io.close(INOUT f)
f := io.open("tmp/io-test.tmp", io.Mode.read)
VAR t: String
ASSERT io.readLine(f, OUT t) AND t = s
io.close(INOUT f)
