CONSTANT a: Number := 5
CONSTANT b: Number := 8
CONSTANT p: Boolean := TRUE
CONSTANT q: Boolean := FALSE

IF a ≠ b THEN
    print("1")
END IF
--= 1

IF a ≤ b THEN
    print("2")
END IF
--= 2

IF b ≥ a THEN
    print("3")
END IF
--= 3

IF ¬q THEN
    print("4")
END IF
--= 4

IF p ∧ ¬q THEN
    print("5")
END IF
--= 5

IF p ∨ q THEN
    print("6")
END IF
--= 6

print("\(a − b)")
--= -3

print("\(a × b)")
--= 40

print("\(a ∕ b)")
--= 0.625

print("\(a ÷ b)")
--= 0.625

print("\(a ∈ [4, 5])")
--= TRUE

--print("\(a ∉ [4, 5])")
--#= FALSE
