% SKIP (regex is an extension module which may not exist)

IMPORT "samples/lisp/lisp" ALIAS lisp

FUNCTION t(s: String)
    print(lisp.repr(lisp.eval(lisp.parse(s))))
END FUNCTION

t("#t")
%= #t

t("23")
%= 23

t("(+ 23 42)")
%= 65

t("(+ 14 (* 23 42))")
%= 980

%t("(let ((x 23) (y 42)) (+ x y))")
%%= 65
