IMPORT math

VAR exp: Number

print(str(math.Pi))
%= 3.141592653589793238462643383279503

print(str(math.abs(-5)))
%= 5

print(str(math.acos(1)))
%= 0

print(str(math.asin(0)))
%= 0

print(str(math.atan(0)))
%= 0

print(str(math.ceil(5.5)))
%= 6

print(str(math.cos(0)))
%= 1

print(str(math.exp(0)))
%= 1

print(str(math.floor(-5.5)))
%= -6

print(str(math.log(1)))
%= 0

print(str(math.sign(-5)))
%= -1

print(str(math.sin(0)))
%= 0

print(str(math.sqrt(16)))
%= 4

print(str(math.tan(0)))
%= 0

print(str(math.acosh(1)))
%= 0

print(str(math.asinh(0)))
%= 0

print(str(math.atanh(0)))
%= 0

print(str(math.atan2(0, -1)))
%= 3.141592653589793238462643383279503

print(str(math.cbrt(8)))
%= 2

print(str(math.cosh(0)))
%= 1

print(str(math.erf(0)))
%= 0

print(str(math.erfc(0)))
%= 1

print(str(math.exp2(3)))
%= 8

print(str(math.expm1(0)))
%= 0

print(str(math.frexp(1/80, exp)))
print(str(exp))
%= 0.125
%= -1

print(str(math.hypot(3, 4)))
%= 5

print(str(math.ldexp(125, -3)))
%= 0.125

print(str(math.lgamma(2)))
%= 0

print(str(math.log10(100)))
%= 2

print(str(math.log1p(0)))
%= 0

print(str(math.log2(8)))
%= 3

print(str(math.nearbyint(5.2)))
%= 5

print(str(math.sinh(0)))
%= 0

print(str(math.tanh(0)))
%= 0

print(str(math.tgamma(6)))
%= 120

print(str(math.trunc(-5.5)))
%= -5
