TYPE Rec IS RECORD
    name: String
    value: Number
END RECORD

VAR r: Rec
r.name := "foo"
r.value := 5
print(r.to_string())

FUNCTION Rec.to_string(self: Rec): String
    RETURN self.name & self.value.to_string()
END FUNCTION

%= foo5
