TYPE Rec IS RECORD
    name: String
    value: Number
END RECORD

FUNCTION Rec.toString(self: Rec): String
    RETURN self.name & self.value.toString()
END FUNCTION

VAR r: Rec
r.name := "foo"
r.value := 5
print(r.toString())

%= foo5
