EXPORT type
EXPORT enum
EXPORT const
EXPORT var
EXPORT var2
EXPORT function
EXPORT modify
EXPORT exception
EXPORT raise

TYPE type := RECORD
    boolean: Boolean
    number: Number
    string: String
END RECORD

TYPE enum := ENUM
    red
    green
    blue
END ENUM

FUNCTION type.method(IN self: type): String
    RETURN self.string & self.string
END FUNCTION

CONST const: Number := 5

VAR var: String := "test"

VAR var2: enum := enum.blue

FUNCTION function(x: Number): Number
    RETURN x * x
END FUNCTION

FUNCTION modify(INOUT x: Number)
    x := x * 2
END FUNCTION

FUNCTION raise()
    RAISE exception
END FUNCTION

DECLARE EXCEPTION exception
