print(str(0 MOD 3))
--= 0

print(str(1 MOD 3))
--= 1

print(str(2 MOD 3))
--= 2

print(str(3 MOD 3))
--= 0

print(str(10 MOD 3))
--= 1

print(str((-10) MOD 3))
--= 2

print(str(10 MOD -3))
--= -2

print(str((-10) MOD -3))
--= -1

print(str(3.14 MOD 0.7))
--= 0.34

print(str((-3.14) MOD 0.7))
--= 0.36

print(str(3.14 MOD -0.7))
--= -0.36

print(str((-3.14) MOD -0.7))
--= -0.34
