IMPORT net

LET server: net.Socket := net.tcpSocket()
server.listen(21011)

LET client: net.Socket := net.tcpSocket()
client.connect("127.0.0.1", 21011)

LET t: net.Socket := server.accept()

LET s: String := "GET / HTTP/1.0"
client.send(s.toBytes())
LET r := t.recv(1000)
CHECK r ISA net.RecvResult.data ELSE
    RAISE TestFailedException
END CHECK
print(r.data.decodeToString())
--= GET / HTTP/1.0

client.close()
server.close()
