IMPORT net

LET server: net.Socket := net.tcp_socket()
server.listen(21011)

LET client: net.Socket := net.tcp_socket()
client.connect("127.0.0.1", 21011)

LET t: net.Socket := server.accept()

LET s: String := "GET / HTTP/1.0"
client.send(s.to_bytes())
LET buf: Bytes := t.recv(1000)
print(buf.to_string())
%= GET / HTTP/1.0

client.close()
server.close()
