IMPORT net

LET server: net.Socket := net.udpSocket()
server.bind("", 21012)

LET client: net.Socket := net.udpSocket()
client.connect("127.0.0.1", 21012)

LET s: String := "UDP packet."
client.send(s.encodeUTF8())
LET r := server.recv(1000)
CHECK r ISA net.RecvResult.data ELSE
    PANIC "Test failed"
END CHECK
print(r.data.decodeUTF8().expectString())
--= UDP packet.

client.close()
server.close()
