TYPE Cls IS CLASS
    n: Number
    s: String
END CLASS

test_n()
test_i()

FUNCTION test_n()
    LET p: POINTER TO Cls := NEW Cls
    ASSERT p->n = 0
    ASSERT p->s = ""
END FUNCTION

FUNCTION test_i()
    LET p: POINTER TO Cls := NEW Cls(n WITH 5, s WITH "foo")
    ASSERT p->n = 5
    ASSERT p->s = "foo"
END FUNCTION
