IMPORT math

TESTCASE 5.1 * 1e6144 + 5.1 * 1e6144 EXPECT NumberException.Overflow
TESTCASE -5.1 * 1e6144 - 5.1 * 1e6144 EXPECT NumberException.Overflow
TESTCASE 1.1 * 1e6144 * 10 EXPECT NumberException.Overflow
TESTCASE 1e6144 / 0.1 EXPECT NumberException.Overflow
TESTCASE 1e6144 / 0 EXPECT NumberException.DivideByZero
TESTCASE 10.1 MOD 0 EXPECT NumberException.Invalid
TESTCASE 10.1 ^ 6145 EXPECT NumberException.Overflow
TESTCASE math.acos(2) EXPECT NumberException.Invalid
TESTCASE math.exp(100000) EXPECT NumberException.Overflow
TESTCASE math.log(0) EXPECT NumberException.DivideByZero
TESTCASE math.log(-1) EXPECT NumberException.Invalid
TESTCASE math.sqrt(-1) EXPECT NumberException.Invalid
