IMPORT math

TESTCASE 1 / 0 EXPECT PANIC "Number divide by zero error: divide"
TESTCASE 10.1 MOD 0 EXPECT PANIC "Number invalid error: modulo"
TESTCASE math.acos(2) EXPECT PANIC "Number invalid error: acos"
TESTCASE math.log(0) EXPECT PANIC "Number divide by zero error: log"
TESTCASE math.log(-1) EXPECT PANIC "Number invalid error: log"
TESTCASE math.sqrt(-1) EXPECT PANIC "Number invalid error: sqrt"
