IMPORT math

TESTCASE math.ceil(1) = 1
TESTCASE math.ceil(1.5) = 2
TESTCASE math.ceil(-1) = -1
TESTCASE math.ceil(-1.5) = -1
TESTCASE math.ceil(1e19) = 10000000000000000000
TESTCASE math.ceil(1e34) = 1e34
