TYPE Choice IS CHOICE
    str: String
    num: Number
    err
END CHOICE

VAR c: Choice := Choice.str("test")
VAR x: Object := c
TESTCASE x["str"] = "test"
TESTCASE x["num"] EXPECT ObjectSubscriptException

c := Choice.num(5)
x := c
TESTCASE x["str"] EXPECT ObjectSubscriptException
TESTCASE x["num"] = 5

x := {"num": 7}
c := x
CHECK c ISA Choice.num ELSE
    PANIC "not a num"
END CHECK
TESTCASE c.num = 7

c := Choice.err
x := c
c := x
TESTCASE c ISA Choice.err
