LET a: Object := 3
LET b: Object := 4

ASSERT a + -b = -1

ASSERT a + 4 = 7
ASSERT 3 + b = 7
ASSERT a + b = 7

ASSERT a - 4 = -1
ASSERT 3 - b = -1
ASSERT a - b = -1

ASSERT a * 4 = 12
ASSERT 3 * b = 12
ASSERT a * b = 12

ASSERT a / 4 = 0.75
ASSERT 3 / b = 0.75
ASSERT a / b = 0.75

ASSERT a MOD 4 = 3
ASSERT 3 MOD b = 3
ASSERT a MOD b = 3

ASSERT a ^ 4 = 81
ASSERT 3 ^ b = 81
ASSERT a ^ b = 81

LET p: Object := TRUE
LET q: Object := FALSE

ASSERT p
ASSERT NOT q

ASSERT p AND TRUE
ASSERT TRUE AND p

ASSERT p OR FALSE
ASSERT FALSE OR p

ASSERT p = TRUE
ASSERT TRUE = p

ASSERT p <> FALSE
ASSERT FALSE <> p

ASSERT a = 3
ASSERT 3 = a

ASSERT a <> 5
ASSERT 5 <> a

ASSERT a < 5
ASSERT 2 < a

ASSERT a <= 5
ASSERT 2 <= a

ASSERT a > 2
ASSERT 5 > a

ASSERT a >= 2
ASSERT 5 >= a
