VAR x: Object

x := FALSE
TESTCASE x ISA Object
TESTCASE x ISA Boolean
TESTCASE NOT (x ISA Number)
TESTCASE NOT (x ISA String)
TESTCASE NOT (x ISA Bytes)
TESTCASE NOT (x ISA Array<Object>)
TESTCASE NOT (x ISA Array<Number>)
TESTCASE NOT (x ISA Dictionary<Object>)
TESTCASE NOT (x ISA Dictionary<Number>)

x := 5
TESTCASE x ISA Object
TESTCASE NOT (x ISA Boolean)
TESTCASE x ISA Number
TESTCASE NOT (x ISA String)
TESTCASE NOT (x ISA Bytes)
TESTCASE NOT (x ISA Array<Object>)
TESTCASE NOT (x ISA Array<Number>)
TESTCASE NOT (x ISA Dictionary<Object>)
TESTCASE NOT (x ISA Dictionary<Number>)

x := "foo"
TESTCASE x ISA Object
TESTCASE NOT (x ISA Boolean)
TESTCASE NOT (x ISA Number)
TESTCASE x ISA String
TESTCASE NOT (x ISA Bytes)
TESTCASE NOT (x ISA Array<Object>)
TESTCASE NOT (x ISA Array<Number>)
TESTCASE NOT (x ISA Dictionary<Object>)
TESTCASE NOT (x ISA Dictionary<Number>)

x := HEXBYTES ""
TESTCASE x ISA Object
TESTCASE NOT (x ISA Boolean)
TESTCASE NOT (x ISA Number)
TESTCASE NOT (x ISA String)
TESTCASE x ISA Bytes
TESTCASE NOT (x ISA Array<Object>)
TESTCASE NOT (x ISA Array<Number>)
TESTCASE NOT (x ISA Dictionary<Object>)
TESTCASE NOT (x ISA Dictionary<Number>)

x := [5, "foo"]
TESTCASE x ISA Object
TESTCASE NOT (x ISA Boolean)
TESTCASE NOT (x ISA Number)
TESTCASE NOT (x ISA String)
TESTCASE NOT (x ISA Bytes)
TESTCASE x ISA Array<Object>
TESTCASE NOT (x ISA Array<Number>)
TESTCASE NOT (x ISA Dictionary<Object>)
TESTCASE NOT (x ISA Dictionary<Number>)

x := [5, 6]
TESTCASE x ISA Object
TESTCASE NOT (x ISA Boolean)
TESTCASE NOT (x ISA Number)
TESTCASE NOT (x ISA String)
TESTCASE NOT (x ISA Bytes)
TESTCASE x ISA Array<Object>
TESTCASE x ISA Array<Number>
TESTCASE NOT (x ISA Dictionary<Object>)
TESTCASE NOT (x ISA Dictionary<Number>)

x := {"a": 5, "b": "foo"}
TESTCASE x ISA Object
TESTCASE NOT (x ISA Boolean)
TESTCASE NOT (x ISA Number)
TESTCASE NOT (x ISA String)
TESTCASE NOT (x ISA Bytes)
TESTCASE NOT (x ISA Array<Object>)
TESTCASE NOT (x ISA Array<Number>)
TESTCASE x ISA Dictionary<Object>
TESTCASE NOT (x ISA Dictionary<Number>)

x := {"a": 5, "b": 6}
TESTCASE x ISA Object
TESTCASE NOT (x ISA Boolean)
TESTCASE NOT (x ISA Number)
TESTCASE NOT (x ISA String)
TESTCASE NOT (x ISA Bytes)
TESTCASE NOT (x ISA Array<Object>)
TESTCASE NOT (x ISA Array<Number>)
TESTCASE x ISA Dictionary<Object>
TESTCASE x ISA Dictionary<Number>

TESTCASE FALSE ISA Object
TESTCASE FALSE ISA Boolean
TESTCASE NOT (FALSE ISA Number)
TESTCASE NOT (FALSE ISA String)
TESTCASE NOT (FALSE ISA Bytes)
TESTCASE NOT (FALSE ISA Array<Object>)
TESTCASE NOT (FALSE ISA Array<Number>)
TESTCASE NOT (FALSE ISA Dictionary<Object>)
TESTCASE NOT (FALSE ISA Dictionary<Number>)

TESTCASE 5 ISA Object
TESTCASE NOT (5 ISA Boolean)
TESTCASE 5 ISA Number
TESTCASE NOT (5 ISA String)
TESTCASE NOT (5 ISA Bytes)
TESTCASE NOT (5 ISA Array<Object>)
TESTCASE NOT (5 ISA Array<Number>)
TESTCASE NOT (5 ISA Dictionary<Object>)
TESTCASE NOT (5 ISA Dictionary<Number>)

TESTCASE "foo" ISA Object
TESTCASE NOT ("foo" ISA Boolean)
TESTCASE NOT ("foo" ISA Number)
TESTCASE "foo" ISA String
TESTCASE NOT ("foo" ISA Bytes)
TESTCASE NOT ("foo" ISA Array<Object>)
TESTCASE NOT ("foo" ISA Array<Number>)
TESTCASE NOT ("foo" ISA Dictionary<Object>)
TESTCASE NOT ("foo" ISA Dictionary<Number>)

TESTCASE HEXBYTES "" ISA Object
TESTCASE NOT (HEXBYTES "" ISA Boolean)
TESTCASE NOT (HEXBYTES "" ISA Number)
TESTCASE NOT (HEXBYTES "" ISA String)
TESTCASE HEXBYTES "" ISA Bytes
TESTCASE NOT (HEXBYTES "" ISA Array<Object>)
TESTCASE NOT (HEXBYTES "" ISA Array<Number>)
TESTCASE NOT (HEXBYTES "" ISA Dictionary<Object>)
TESTCASE NOT (HEXBYTES "" ISA Dictionary<Number>)

TESTCASE [5, "foo"] ISA Object
TESTCASE NOT ([5, "foo"] ISA Boolean)
TESTCASE NOT ([5, "foo"] ISA Number)
TESTCASE NOT ([5, "foo"] ISA String)
TESTCASE NOT ([5, "foo"] ISA Bytes)
TESTCASE [5, "foo"] ISA Array<Object>
TESTCASE NOT ([5, "foo"] ISA Array<Number>)
TESTCASE NOT ([5, "foo"] ISA Dictionary<Object>)
TESTCASE NOT ([5, "foo"] ISA Dictionary<Number>)

TESTCASE [5, 6] ISA Object
TESTCASE NOT ([5, 6] ISA Boolean)
TESTCASE NOT ([5, 6] ISA Number)
TESTCASE NOT ([5, 6] ISA String)
TESTCASE NOT ([5, 6] ISA Bytes)
TESTCASE [5, 6] ISA Array<Object>
TESTCASE [5, 6] ISA Array<Number>
TESTCASE NOT ([5, 6] ISA Dictionary<Object>)
TESTCASE NOT ([5, 6] ISA Dictionary<Number>)

TESTCASE ["foo", "bar"] ISA Object
TESTCASE NOT (["foo", "bar"] ISA Boolean)
TESTCASE NOT (["foo", "bar"] ISA Number)
TESTCASE NOT (["foo", "bar"] ISA String)
TESTCASE NOT (["foo", "bar"] ISA Bytes)
TESTCASE ["foo", "bar"] ISA Array<Object>
TESTCASE NOT (["foo", "bar"] ISA Array<Number>)
TESTCASE NOT (["foo", "bar"] ISA Dictionary<Object>)
TESTCASE NOT (["foo", "bar"] ISA Dictionary<Number>)

TESTCASE {"a": 5, "b": "foo"} ISA Object
TESTCASE NOT ({"a": 5, "b": "foo"} ISA Boolean)
TESTCASE NOT ({"a": 5, "b": "foo"} ISA Number)
TESTCASE NOT ({"a": 5, "b": "foo"} ISA String)
TESTCASE NOT ({"a": 5, "b": "foo"} ISA Bytes)
TESTCASE NOT ({"a": 5, "b": "foo"} ISA Array<Object>)
TESTCASE NOT ({"a": 5, "b": "foo"} ISA Array<Number>)
TESTCASE {"a": 5, "b": "foo"} ISA Dictionary<Object>
TESTCASE NOT ({"a": 5, "b": "foo"} ISA Dictionary<Number>)

TESTCASE {"a": 5, "b": 6} ISA Object
TESTCASE NOT ({"a": 5, "b": 6} ISA Boolean)
TESTCASE NOT ({"a": 5, "b": 6} ISA Number)
TESTCASE NOT ({"a": 5, "b": 6} ISA String)
TESTCASE NOT ({"a": 5, "b": 6} ISA Bytes)
TESTCASE NOT ({"a": 5, "b": 6} ISA Array<Object>)
TESTCASE NOT ({"a": 5, "b": 6} ISA Array<Number>)
TESTCASE {"a": 5, "b": 6} ISA Dictionary<Object>
TESTCASE {"a": 5, "b": 6} ISA Dictionary<Number>

TESTCASE {"a": "foo", "b": "bar"} ISA Object
TESTCASE NOT ({"a": "foo", "b": "bar"} ISA Boolean)
TESTCASE NOT ({"a": "foo", "b": "bar"} ISA Number)
TESTCASE NOT ({"a": "foo", "b": "bar"} ISA String)
TESTCASE NOT ({"a": "foo", "b": "bar"} ISA Bytes)
TESTCASE NOT ({"a": "foo", "b": "bar"} ISA Array<Object>)
TESTCASE NOT ({"a": "foo", "b": "bar"} ISA Array<Number>)
TESTCASE {"a": "foo", "b": "bar"} ISA Dictionary<Object>
TESTCASE NOT ({"a": "foo", "b": "bar"} ISA Dictionary<Number>)
