VAR x: Object

x := TRUE
print(strb(x))
%= TRUE

x := 5
print(str(x))
%= 5

x := "hello"
print(x)
%= hello

LET one: Object := 1
LET two: Object := 2
LET three: Object := 3
x := [one, two, three]
print("\(x)")
%= [1, 2, 3]

x := {"one": one, "two": two, "three": three}
print("\(x)")
%= {"one": 1, "three": 3, "two": 2}
