IMPORT os
IMPORT time

VAR r: Number

r := os.system("echo hello")
%= hello
print(str(r))
%= 0

VAR p: os.Process := os.spawn(@@"python -c "import time; time.sleep(0.1)""@@)
LET start: Number := time.now()
r := os.wait(p)
LET end: Number := time.now()
print(strb(end - start >= 0.1))
%= TRUE
