FUNCTION foo()
    VAR outer: String
        FUNCTION bar1()
            outer := "one"
            bar2()
        END FUNCTION
        FUNCTION bar2()
            outer := "two"
        END FUNCTION
    outer := "zero"
    print(outer)
    bar1()
    print(outer)
END FUNCTION

foo()

%= zero
%= two
