FUNCTION in(IN a: Number)
    print(str(a))
END FUNCTION

FUNCTION inout(INOUT a: Number)
    print(str(a))
    a := a + 1
END FUNCTION

FUNCTION out(OUT a: Number)
    print(str(a))
    a := a + 1
END FUNCTION

VAR a: Number

a := 5
in(a)
print(str(a))
%= 5
%= 5

a := 5
inout(a)
print(str(a))
%= 5
%= 6

a := 5
out(a)
print(str(a))
%= 0
%= 1
