FUNCTION in(IN x: Number)
    print(str(x))
END FUNCTION

FUNCTION inout(INOUT x: Number)
    print(str(x))
    x := x + 1
END FUNCTION

FUNCTION out(OUT x: Number)
    print(str(x))
    x := x + 1
END FUNCTION

FUNCTION outf(OUT x: Number): String
    print(str(x))
    RETURN "foo"
END FUNCTION

VAR a: Number

a := 5
in(a)
print(str(a))
%= 5
%= 5

a := 5
inout(INOUT a)
print(str(a))
%= 5
%= 6

a := 5
out(OUT a)
print(str(a))
%= 0
%= 1

a := 5
print(outf(OUT a))
%= 0
%= foo
