TYPE Node := RECORD
    next: POINTER TO Node
    value: Number
END RECORD

VAR a: POINTER TO Node

a := NEW Node
IF VALID p := a THEN
    p.next := NEW Node
    IF VALID q := p.next THEN
        q.value := 5
        print(str(q.value))
    END IF
END IF
%= 5
