% TODO

TYPE Record IS RECORD
    name: String
END RECORD

FUNCTION Record.getName(self: Record): String
    RETURN self.name
END FUNCTION

LET p: POINTER TO Record := NEW Record
p->name := "hello"
print(p->getName())
%= hello
