IMPORT file
IMPORT posix

CHECK file.delete("tmp/LICENSE.txt") ISA file.FileResult.ok ELSE
    PANIC "Test failed"
END CHECK
TESTCASE posix.symlink("../LICENSE.txt", "tmp/LICENSE.txt") = 0
VAR r: file.BytesResult := file.readBytes("tmp/LICENSE.txt")
CHECK r ISA file.BytesResult.data ELSE
    PANIC "Test failed"
END CHECK
LET text: Bytes := r.data
r := file.readBytes("LICENSE.txt")
CHECK r ISA file.BytesResult.data ELSE
    PANIC "Test failed"
END CHECK
TESTCASE text = r.data
