IMPORT process
IMPORT string

VAR out, err: Bytes
VAR r: Number

r := process.call("bin/neon", OUT out, OUT err)
ASSERT r = 1
ASSERT out = HEXBYTES ""
ASSERT string.splitLines(err.decodeToString()) = ["Usage: bin/neon filename.neon"]

r := process.call("bin/neon t/hello.neon", OUT out, OUT err)
ASSERT r = 0
ASSERT string.splitLines(out.decodeToString()) = ["hello world"]
ASSERT err = HEXBYTES ""
