TYPE Rec IS RECORD
    name: String
    count: Number
END RECORD

LET r0: Rec := Rec()
LET r1: Rec := Rec(name WITH "foo")
LET r2: Rec := Rec(count WITH 5)
LET r3: Rec := Rec(name WITH "foo", count WITH 5)
LET r4: Rec := Rec(count WITH 5, name WITH "foo")

print("\(r0.name) \(r0.count)")
#=  0
print("\(r1.name) \(r1.count)")
#= foo 0
print("\(r2.name) \(r2.count)")
#=  5
print("\(r3.name) \(r3.count)")
#= foo 5
print("\(r4.name) \(r4.count)")
#= foo 5
