TYPE Point IS RECORD
    x: Number
    y: Number
END RECORD

VAR p: Point := Point(1, 2)
print(p.x.toString())
%= 1
print(p.y.toString())
%= 2

VAR points: Array<Point> := [
    Point(1, 2),
    Point(3, 4),
]
print(points[1].y.toString())
%= 4
