TYPE Cls IS CLASS
    value: String
END CLASS

FUNCTION foo(): Cls
    RETURN Cls(value WITH "")
END FUNCTION

VAR r: Cls := Cls()
print("value=\(r.value)")
%= value=

print("value=\(foo().value)")
%= value=

VAR p: POINTER TO Cls
p := NEW Cls
IF VALID p AS q THEN
    print("value=\(q->value)")
END IF
%= value=
