TYPE Point IS RECORD
    x: Number
    y: Number
END RECORD

VAR p: Point := Point(x WITH 1, y WITH 2)
print(p.x.toString())
#= 1
print(p.y.toString())
#= 2

VAR points: Array<Point> := [
    Point(x WITH 1, y WITH 2),
    Point(x WITH 3, y WITH 4),
]
print(points[1].y.toString())
#= 4
