TYPE Rec IS RECORD
    value: String
END RECORD

FUNCTION foo(): Rec
    RETURN Rec("")
END FUNCTION

VAR r: Rec := Rec()
print("value=\(r.value)")
%= value=

print("value=\(foo().value)")
%= value=

VAR p: POINTER TO Rec
p := NEW Rec
IF VALID p AS q THEN
    print("value=\(q->value)")
END IF
%= value=
