IMPORT regex

VAR m: regex.Match
IF regex.search("fo+bar", "This is a foobar", m) THEN
    print("\(m[0].start)")
    print("\(m[0].end)")
    print(m[0].group)
END IF
%= 10
%= 16
%= foobar

print(strb(regex.search("asdf", "foobar", m)))
%= FALSE
