print(str(num("45")))
--= 45

-- Check for behaviour of various strings that are not numbers.
TESTCASE num("") EXPECT ValueRangeException
TESTCASE num("-") EXPECT ValueRangeException
TESTCASE num(".") EXPECT ValueRangeException
TESTCASE num("1.") EXPECT ValueRangeException
TESTCASE num("12e") EXPECT ValueRangeException
TESTCASE num("12e-") EXPECT ValueRangeException
TESTCASE num("12e1.2") EXPECT ValueRangeException
TESTCASE num("12e1-") EXPECT ValueRangeException

print("hello")
--= hello

print(str(5))
--= 5
