CONSTANT DatabaseName := "tmp/tmp.db"

EXEC SQL CONNECT TO :DatabaseName;

EXEC SQL DROP TABLE IF EXISTS user;
EXEC SQL CREATE TABLE user(name STRING PRIMARY KEY, password STRING);

LET name: String := "name"
LET password: String := "password"
EXEC SQL INSERT INTO user (name, password) VALUES (:name, :password);
--EXEC SQL INSERT INTO user (name, password) VALUES (:(name&name), :password);

VAR pw_tmp: String
EXEC SQL SELECT password INTO :pw_tmp FROM user WHERE name = :name;
TESTCASE pw_tmp = "password"

LET user_name: String := "user name"
EXEC SQL INSERT INTO user (name, password) VALUES (:user_name, :password);

pw_tmp := ""
EXEC SQL SELECT password INTO :pw_tmp FROM user WHERE name = :user_name;
TESTCASE pw_tmp = "password"
