IMPORT sqlite

VAR rows: sqlite.Rows

LET db: sqlite.Database := sqlite.open("test.db")
rows := sqlite.exec(db, "drop table if exists foo")
rows := sqlite.exec(db, "create table foo(name string, value integer)")
rows := sqlite.exec(db, "insert into foo values ('property', 234)")
rows := sqlite.exec(db, "select * from foo")
print("\(rows[0][0]) = \(rows[0][1])")
%= property = 234
sqlite.close(db)
