IMPORT sqlite

VAR rows: sqlite.Rows

LET r: sqlite.OpenResult := sqlite.open("tmp/test.db")
CHECK r ISA sqlite.OpenResult.db ELSE
    RAISE TestFailedException
END CHECK
LET db := r.db
rows := sqlite.execRaw(db, "drop table if exists foo")
rows := sqlite.execRaw(db, "create table foo(name string, value integer)")
rows := sqlite.execRaw(db, "insert into foo values ('property', 234)")
rows := sqlite.execRaw(db, "select * from foo")
print("\(rows[0][0]) = \(rows[0][1])")
--= property = 234
rows := sqlite.exec(db, "insert into foo values (:prop, :val)", {":prop": "name", ":val": "345"})
rows := sqlite.exec(db, "select * from foo where name = :prop", {":prop": "name"})
print("\(rows[0][0]) = \(rows[0][1])")
--= name = 345
sqlite.close(db)
