VAR a: String

a := "hello world"
print(a[4])
--= o

a[4] := "y"
print(a)
--= helly world

a[4] := "ish"
print(a)
--= hellish world

print(str(a.length()))
--= 13

a[4 TO 6] := "o"
print(a)
--= hello world

a[5 TO LAST] := ""
print(a)
--= hello

a.append(" world")
print(a)
--= hello world
