IMPORT string

LET s: String := "你好"
LET b: Bytes := s.encodeUTF8()
print(b.toArray().toString())
--= [228, 189, 160, 229, 165, 189]

LET t: String := b.decodeUTF8().expectString()
print("\(string.toCodePoint(t[0]):x) \(string.toCodePoint(t[1]):x)")
--= 4f60 597d

TESTCASE HEXBYTES "41 42 43".decodeUTF8() ISA DecodeResult.string
TESTCASE HEXBYTES "41 42 43".decodeUTF8().expectString() = "ABC"
TESTCASE HEXBYTES "41 42 43 81 82".decodeUTF8() ISA DecodeResult.error
