IMPORT string

print(str(string.find("hello world", "world")))
%= 6

print(string.join(["hello", "world"], " "))
%= hello world

print(string.lower("Hello World"))
%= hello world

LET a: Array<String> := string.split("Hello World", " ")
print("\(a.size())")
%= 2
print(a[0])
%= Hello
print(a[1])
%= World

print(string.trim("  Hello World  "))
%= Hello World

print(string.upper("Hello World"))
%= HELLO WORLD
