IMPORT string

FUNCTION bstr(z: Boolean): String
    RETURN (IF z THEN "TRUE" ELSE "FALSE")
END FUNCTION

print(str(string.find("hello world", "world")))
#= 6

print(string.fromCodePoint(65))
#= A

TRY
    print(string.fromCodePoint(1.5))
TRAP ValueRangeException AS x DO
    print(x.info)
END TRY
#= fromCodePoint() argument not an integer

TRY
    print(string.fromCodePoint(0x110000))
TRAP ValueRangeException AS x DO
    print(x.info)
END TRY
#= fromCodePoint() argument out of range 0-0x10ffff

print(string.join(["hello", "world"], " "))
#= hello world

print(string.lower("Hello World"))
#= hello world

LET a: Array<String> := string.split("Hello World Everybody", " ")
print("\(a.size())")
#= 3
print(a[0])
#= Hello
print(a[1])
#= World
print(a[2])
#= Everybody

ASSERT string.splitLines("").size() = 0
ASSERT string.splitLines("\n") = [""]
ASSERT string.splitLines("\n\n") = ["", ""]
ASSERT string.splitLines("a\n") = ["a"]
ASSERT string.splitLines("a\nb") = ["a", "b"]
ASSERT string.splitLines("a\nb\n") = ["a", "b"]
ASSERT string.splitLines("hello\nworld\r\neverybody\n") = ["hello", "world", "everybody"]

print(str(string.toCodePoint("B")))
#= 66

TRY
    print(str(string.toCodePoint("AB")))
TRAP ArrayIndexException AS x DO
    print(x.info)
END TRY
#= toCodePoint() requires string of length 1

print(string.trimCharacters("  Hello World  ", " ", " "))
#= Hello World

print(string.trimCharacters("  Hello World  ", " ", ""))
#= Hello World  

print(string.trimCharacters("  Hello World  ", "", " "))
#=   Hello World

print(string.trimCharacters(" ", " ", " "))
#= 

print(string.upper("Hello World"))
#= HELLO WORLD

print(bstr(string.hasPrefix("Hello World", "He")))
print(bstr(string.hasPrefix("Hello World", "he")))
#= TRUE
#= FALSE

print(bstr(string.hasSuffix("Hello World", "orld")))
print(bstr(string.hasSuffix("Hello World", "old")))
#= TRUE
#= FALSE

ASSERT string.repeat("*", 5) = "*****"
ASSERT string.repeat("XY", 2) = "XYXY"

ASSERT string.replaceOne("hello world", "l", "xxx") = "hexxxlo world"
ASSERT string.replaceAll("hello world", "l", "xxx") = "hexxxxxxo worxxxd"
ASSERT string.replaceAll("hello world", "l", "") = "heo word"
ASSERT string.replaceAll("hello world", "l", "ell") = "heellello worelld"
