LET s: String := "你好"
LET b: Bytes := s.to_bytes()
print(b.to_array().to_string())
%= [228, 189, 160, 229, 165, 189]

LET t: String := b.to_string()
print("\(ord(t[0]):x) \(ord(t[1]):x)")
%= 4f60 597d
