IMPORT struct
IMPORT variant

VAR s: struct.Struct := struct.make([
    struct.field("field1", struct.Type.int, 4),
    struct.field("field2", struct.Type.string, 20),
])

print("\(s.sizeof())")
%= 24

LET b: Bytes := s.pack({
    "field1": variant.make_number(500),
    "field2": variant.make_string("hello"),
})
LET a: Array<Number> := b.to_array()
print("\(a.size())")
%= 24
print(str(a[0]))
%= 0
print(str(a[1]))
%= 0
print(str(a[2]))
%= 1
print(str(a[3]))
%= 244
print(str(a[4]))
%= 104
print(str(a[5]))
%= 101
print(str(a[6]))
%= 108
print(str(a[7]))
%= 108
print(str(a[8]))
%= 111
print(str(a[9]))
%= 0

LET v: Dictionary<variant.Variant> := s.unpack(b)
print(str(v["field1"].get_number()))
%= 500
print(v["field2"].get_string())
%= hello
