% SKIP

IMPORT multiarray

IMPORT "samples/sudoku" ALIAS sudoku

VAR grid: multiarray.ArrayNumber2D := multiarray.make_number2D(9, 9)
grid := [
    % https://en.wikipedia.org/wiki/Sudoku
    [5,3,0,0,7,0,0,0,0],
    [6,0,0,1,9,5,0,0,0],
    [0,9,8,0,0,0,0,6,0],
    [8,0,0,0,6,0,0,0,3],
    [4,0,0,8,0,3,0,0,1],
    [7,0,0,0,2,0,0,0,6],
    [0,6,0,0,0,0,2,8,0],
    [0,0,0,4,1,9,0,0,5],
    [0,0,0,0,8,0,0,7,9],
]
LET n: Number := sudoku.solve_sudoku(grid)
ASSERT grid[0] = [5,3,4,6,7,8,9,1,2]
ASSERT grid[1] = [6,7,2,1,9,5,3,4,8]
ASSERT grid[2] = [1,9,8,3,4,2,5,6,7]
ASSERT grid[3] = [8,5,9,7,6,1,4,2,3]
ASSERT grid[4] = [4,2,6,8,5,3,7,9,1]
ASSERT grid[5] = [7,1,3,9,2,4,8,5,6]
ASSERT grid[6] = [9,6,1,5,3,7,2,8,4]
ASSERT grid[7] = [2,8,7,4,1,9,6,3,5]
ASSERT grid[8] = [3,4,5,2,8,6,1,7,9]

%grid := sudoku.make_puzzle(sudoku.make_solution(), 79)
