IMPORT sys

TRY
    sys.exit(1.5)
TRAP ValueRangeException AS x DO
    print(x.info)
END TRY
--= sys.exit invalid parameter: 1.5

TRY
    sys.exit(-1)
TRAP ValueRangeException AS x DO
    print(x.info)
END TRY
--= sys.exit invalid parameter: -1

EXIT PROCESS SUCCESS
