IMPORT random
IMPORT string
IMPORT textio

VAR s := ""
FOR i := 1 TO 100000 DO
    s.append(string.fromCodePoint(32 + random.uint32() MOD 96))
END FOR
VAR r: textio.OpenResult := textio.open("tmp/textio-test.tmp", textio.Mode.write)
CHECK r ISA textio.OpenResult.file ELSE
    RAISE TestFailedException
END CHECK
VAR f: textio.TextFile := r.file
textio.writeLine(f, s)
textio.close(f)
r := textio.open("tmp/textio-test.tmp", textio.Mode.read)
CHECK r ISA textio.OpenResult.file ELSE
    RAISE TestFailedException
END CHECK
f := r.file
LET rlr: textio.ReadLineResult := textio.readLine(f)
CHECK rlr ISA textio.ReadLineResult.line ELSE
    RAISE TestFailedException
END CHECK
TESTCASE rlr.line = s
textio.close(f)
