IMPORT textio

textio.writeLine(textio.stdout, "Hello World")
--= Hello World

TESTCASE textio.open("nonexistent.file", textio.Mode.read) ISA textio.OpenResult.error

VAR r: textio.OpenResult := textio.open("LICENSE.txt", textio.Mode.read)
CHECK r ISA textio.OpenResult.file ELSE
    RAISE TestFailedException
END CHECK
VAR f: textio.TextFile := r.file
VAR rlr: textio.ReadLineResult := textio.readLine(f)
CHECK rlr ISA textio.ReadLineResult.line ELSE
    RAISE TestFailedException
END CHECK
print(rlr.line)
--= The MIT License (MIT)

textio.close(f)
