IMPORT random
IMPORT string
IMPORT textio

VAR s := ""
FOR i := 1 TO 100000 DO
    s.append(string.fromCodePoint(32 + random.uint32() MOD 96))
END FOR
VAR f: textio.TextFile := textio.open("tmp/textio-test.tmp", textio.Mode.write)
textio.writeLine(f, s)
textio.close(f)
f := textio.open("tmp/textio-test.tmp", textio.Mode.read)
VAR t: String
TESTCASE textio.readLine(f, OUT t) AND t = s
textio.close(f)
