IMPORT textio

VAR r: textio.OpenResult := textio.open("tmp/textio-test.tmp", textio.Mode.write)
CHECK r ISA textio.OpenResult.file ELSE
    RAISE TestFailedException
END CHECK
VAR f: textio.TextFile := r.file
textio.writeLine(f, "Hello world")
textio.seekStart(f)
textio.truncate(f)
textio.close(f)
r := textio.open("tmp/textio-test.tmp", textio.Mode.read)
CHECK r ISA textio.OpenResult.file ELSE
    RAISE TestFailedException
END CHECK
f := r.file
print("\(textio.readLine(f, OUT _))")
--= FALSE

textio.close(f)
