IMPORT time

VAR a, b, i: Number

a := time.now()
i := 0
LOOP
    b := time.now()
    IF b > a THEN
        EXIT LOOP
    END IF
    i := i + 1
END LOOP
--print(str(a))
--print(str(b))
print("\(a < b)")

--= TRUE
