VAR n: Number := 5
print(n.toString())
#= 5

VAR b: Boolean := TRUE
print(b.toString())
#= TRUE

TYPE Colour IS ENUM
    red
    green
    blue
END ENUM
VAR c: Colour := Colour.green
print(c.toString())
#= green
