IMPORT string

VAR s: String
s := "你好世界"

print(str(string.toCodePoint(s[0])))
--= 20320
print(str(string.toCodePoint(s[1])))
--= 22909

s := string.fromCodePoint(19990)
print(str(string.toCodePoint(s[0])))
--= 19990
