TYPE Cls IS CLASS
    name: String
    value: Number
END CLASS

VAR a, b: Cls := Cls()
VAR p, q: POINTER TO Cls

p := NEW Cls
q := NEW Cls

a.name := "foo"
valueCopy(b, a)
print(b.name)
%= foo

IF VALID p AS pp THEN
    a.name := "bar"
    valueCopy(pp, a)
    print(pp->name)
END IF
%= bar

IF VALID p AS pp THEN
    pp->name := "baz"
    valueCopy(a, pp)
    print(a.name)
END IF
%= baz

IF VALID p AS pp THEN
    IF VALID q AS qq THEN
        pp->name := "quux"
        valueCopy(qq, pp)
        print(qq->name)
    END IF
END IF
%= quux
