-- Check value copy semantics. Objects of most types,
-- principally Array and Dictionary, must make a copy
-- of the value on assignment which is independent from
-- the original value.

VAR b1: Boolean := TRUE
VAR b2: Boolean := b1
b1 := FALSE
TESTCASE b2

VAR n1: Number := 5
VAR n2: Number := n1
n1 := 10
TESTCASE n2 = 5

VAR s1: String := "foo"
VAR s2: String := s1
s1 := "bar"
TESTCASE s2 = "foo"

VAR t1: Bytes := HEXBYTES "01 02 03"
VAR t2: Bytes := t1
t1 := HEXBYTES "04 05 06"
TESTCASE t2 = HEXBYTES "01 02 03"

TYPE Fruit IS CHOICE
    apple: Number
    banana: Number
    cherry: Number
END CHOICE
VAR c1: Fruit := Fruit.apple(4)
VAR c2: Fruit := c1
IF c1 ISA Fruit.apple THEN
    c1.apple := 5
END IF
IF c2 ISA Fruit.apple THEN
    TESTCASE c2.apple = 4
END IF

VAR a1: Array<Number> := [1, 2, 3]
VAR a2: Array<Number> := a1
a1[0] := -1
TESTCASE a2[0] = 1

VAR d1: Dictionary<Number> := {"one": 1, "two": 2, "three": 3}
VAR d2: Dictionary<Number> := d1
d1["one"] := -1
TESTCASE d2["one"] = 1

VAR aa1: Array<Array<Number>> := [[]]
VAR aa2: Array<Array<Number>> := aa1
aa1[0].append(1)
TESTCASE aa1[0] = [1]
TESTCASE aa2[0] = []

VAR da1: Dictionary<Array<Number>> := {"": []}
VAR da2: Dictionary<Array<Number>> := da1
da1[""].append(1)
TESTCASE da1[""] = [1]
TESTCASE da2[""] = []
