IMPORT variant
IMPORT variant.Variant

VAR v: Variant := Variant()

v.setNull()
print("\(v.isNull())")
%= TRUE

v.setBoolean(TRUE)
print("\(v.getBoolean())")
%= TRUE
print("\(v.isNull())")
%= FALSE

v.setNumber(5)
print("\(v.getNumber())")
%= 5

v.setString("hello")
print("\(v.getString())")
%= hello

TRY
    _ := v.getBoolean()
TRAP variant.TypeMismatchException DO
    print("TypeMismatch")
END TRY
%= TypeMismatch

v.setNull()
print("\(v)")
%= null

v.setBoolean(TRUE)
print("\(v)")
%= true

v.setNumber(5)
print("\(v)")
%= 5

v.setString("hello")
print("\(v)")
%= hello

v.setArray([variant.makeNumber(5), variant.makeString("hello")])
print("\(v)")
%= [5, "hello"]

v.setDictionary({"hello": variant.makeString("world")})
print("\(v)")
%= {"hello": "world"}
