% SKIP (win32 module needs reimplementation with extension module)
% PLATFORM:win32

IMPORT win32

VAR b: Boolean
VAR p: win32.Handle

VAR fd: win32.WIN32_FIND_DATA
p := win32.FindFirstFile(@"lib\win32\*.neon", OUT fd)
REPEAT
    LET fn: String := fd.cFileName
    IF fn = "win32.neon" THEN
        print(fn)
    END IF
UNTIL NOT win32.FindNextFile(p, OUT fd)
b := win32.FindClose(p)
%= win32.neon
