IMPORT file
IMPORT regex
IMPORT string
IMPORT sys
IMPORT textio

LET src: String := sys.args[1]

VAR errors: Dictionary<String> := {}
LET sources: Array<String> := file.files(src)
FOREACH fn IN sources DO
    CHECK string.hasSuffix(fn, ".cpp") ELSE
        NEXT FOREACH
    END CHECK
    LET rr: file.LinesResult := file.readLines(src & "/" & fn)
    CHECK rr ISA file.LinesResult.lines ELSE
        EXIT PROCESS FAILURE
    END CHECK
    VAR lines: Array<String> := rr.lines
    VAR enable: Boolean := TRUE
    FOREACH s IN lines DO
        IF string.hasPrefix(s, "#if 0") THEN
            enable := FALSE
        ELSIF string.hasPrefix(s, "#endif") THEN
            enable := TRUE
        ELSIF enable AND (" error(" IN s OR " error_a(" IN s OR " error2(" IN s) THEN
            VAR m: regex.Match
            IF NOT regex.search("\\berror\\w*\\((\\d+),.*?\"(.*?)\"", s, OUT m) THEN
                sys.exit(1)
            END IF
            LET number: String := m[1].group
            ASSERT number.length() = 4
            LET message: String := m[2].group
            IF number IN errors THEN
                print("Duplicate error number: \(number)")
                sys.exit(1)
            END IF
            errors[number] := message
        END IF
    END FOREACH
END FOREACH

VAR r: textio.OpenResult := textio.open("gen/errors.txt", textio.Mode.write)
CHECK r ISA textio.OpenResult.file ELSE
    print(r.error)
    EXIT PROCESS FAILURE
END CHECK
LET out: textio.TextFile := r.file
FOREACH error IN errors.keys() DO
    textio.writeLine(out, "N\(error) \(errors[error])")
END FOREACH
textio.close(out)
