IMPORT http
IMPORT json
IMPORT os
IMPORT string
IMPORT sys
IMPORT time

CONSTANT Port: Number := 20179

TYPE Status IS ENUM
    none
    nothit
    hit
END ENUM

VAR LineFromAddress: Array<Number> := []
VAR AddressFromLine: Array<Number> := []
VAR LineStatus: Array<Status> := []

FUNCTION get(url: String): Object
    LET hr := http.get("http://127.0.0.1:\(Port)\(url)", {})
    CHECK hr ISA http.HttpResult.response ELSE
        print(hr.error)
        EXIT PROCESS FAILURE
    END CHECK
    LET d := json.decode(hr.response.data.decodeToString())
    CHECK d ISA json.DecodeResult.data ELSE
        print(d.error.message)
        EXIT PROCESS FAILURE
    END CHECK
    RETURN d.data
END FUNCTION

FUNCTION post(url: String, post_data: String): Object
    LET hr := http.post("http://127.0.0.1:\(Port)\(url)", post_data, {})
    CHECK hr ISA http.HttpResult.response ELSE
        print(hr.error)
        EXIT PROCESS FAILURE
    END CHECK
    LET d := json.decode(hr.response.data.decodeToString())
    CHECK d ISA json.DecodeResult.data ELSE
        print(d.error.message)
        EXIT PROCESS FAILURE
    END CHECK
    RETURN d.data
END FUNCTION

IF sys.args.size() < 2 THEN
    print("Usage: coverage.neon program [args]")
    sys.exit(1)
END IF

LET source: String := sys.args[1]

LET sr: os.SpawnResult := os.spawn("bin/neon -d \(Port) " & string.join(sys.args[1 TO LAST], " "))
CHECK sr ISA os.SpawnResult.process ELSE
    print("Error spawning program to run")
    EXIT PROCESS FAILURE
END CHECK
LET target: os.Process := sr.process
time.sleep(1)

LET debug: Object := get("/module/-/debuginfo")

LET linenumbers: Array<Object> := debug.line_numbers
FOREACH ln IN linenumbers DO
    LET addr: Number := ln[0]
    LET line: Number := ln[1]
    LineFromAddress[addr] := line
    AddressFromLine[line] := addr
    LineStatus[line] := Status.nothit
END FOREACH

VAR r: Object

FOREACH status IN LineStatus INDEX line DO
    IF status = Status.nothit THEN
        r := post("/break/\(AddressFromLine[line])", "true")
    END IF
END FOREACH

LOOP
    REPEAT
        time.sleep(0.1)
        r := get("/status")
    UNTIL r.state = "stopped"

    LET ip: Number := r.ip
    LET line: Number := LineFromAddress[ip]
    IF line > 0 THEN
        LineStatus[line] := Status.hit
    END IF
    r := post("/break/\(ip)", "false")

    r := post("/continue", "")
END LOOP

LET sourcelines: Array<Object> := debug.source
FOR line := 1 TO sourcelines.size()-1 DO
    LET status: Status := (IF line < LineStatus.size() THEN LineStatus[line] ELSE Status.none)
    print("\(status:6) \(line:>4) | \(sourcelines[line])")
END FOR
