IMPORT file
IMPORT string
IMPORT sys

LET lr: file.LinesResult := file.readLines(sys.args[1])
CHECK lr ISA file.LinesResult.lines ELSE
    print("Could not read file: \(sys.args[1])")
    EXIT PROCESS FAILURE
END CHECK
VAR lines: Array<String> := lr.lines
FOREACH s IN lines DO
    LET r: string.FindResult := string.find(s, "IMPORT")
    CHECK r ISA string.FindResult.index ELSE
        NEXT FOREACH
    END CHECK
    VAR i: Number := r.index + 6
    LET spaces: Number := i
    WHILE s[i] = " " DO
        INC i
    END WHILE
    IF i = spaces THEN
        NEXT FOREACH
    END IF
    LET start: Number := i
    WHILE i < s.length() AND "a" <= string.lower(s[i]) <= "z" DO
        INC i
    END WHILE
    IF i = start THEN
        NEXT FOREACH
    END IF
    LET module: String := s[start TO i-1]
    print(module)
END FOREACH
