IMPORT console
IMPORT json
IMPORT os
IMPORT simplehttp
IMPORT string
IMPORT sys
IMPORT time

CONSTANT Port: Number := 20179

FUNCTION get(url: String): Object
    LET data: String := simplehttp.get("http://127.0.0.1:\(Port)\(url)", {}, OUT responseHeaders WITH _).decodeToString()
    RETURN json.decode(data)
END FUNCTION

FUNCTION post(url: String, post_data: String): Object
    LET data: String := simplehttp.post("http://127.0.0.1:\(Port)\(url)", post_data, {}, OUT responseHeaders WITH _).decodeToString()
    RETURN json.decode(data)
END FUNCTION

FUNCTION help()
    print(@@"
Debugger Commands:

    b  break    Set a breakpoint on a source line number
    c  clear    Clear a breakpoint on a source line number
    g  globals  Show all global variables
    h  help     Print this help message
    n  next     Next source line
    ni next-in  Next source line, stepping in to functions
    no next-out Next source line after return from the current function
    p  print    Print value of variable
    q  quit     Quit
    r  run      Run until the next breakpoint
    s  stack    Print current operand stack
"@@)
END FUNCTION

TYPE Global IS RECORD
    index: Number
    repr: String
END RECORD

VAR Source: Array<String> := []
VAR LineFromAddress: Array<Number> := []
VAR AddressFromLine: Array<Number> := []
VAR Globals: Dictionary<Global> := {}

print("Neon debugger. Type 'help' for help.")

LET target: os.Process := os.spawn("bin/neon -d \(Port) \(sys.args[1])")
time.sleep(0.1)
VAR r: Object

r := get("/module/-/debuginfo")
Source := r.source
LET linenumbers: Array<Object> := r.line_numbers
FOREACH ln IN linenumbers DO
    LET addr: Number := ln[0]
    LET line: Number := ln[1]
    LineFromAddress[addr] := line
    AddressFromLine[line] := addr
END FOREACH
LET globals: Array<Object> := r.globals
FOREACH g IN globals DO
    Globals[g.name] := Global(
        index WITH g.index,
        repr WITH g.type.representation
    )
END FOREACH

VAR last: String := ""
LOOP
    REPEAT
        time.sleep(0.1)
        TRY
            r := get("/status")
        TRAP simplehttp.HttpException DO
            EXIT LOOP
        END TRY
    UNTIL r.state = "stopped"

    IF r.log_messages > 0 THEN
        LET log: Object := post("/log", "")
        LET messages: Array<Object> := log
        FOREACH message IN messages DO
            print(message)
        END FOREACH
    END IF

    LET ip: Number := r.ip
    IF LineFromAddress[ip] > 0 THEN
        print("\(LineFromAddress[ip]) | \(Source[LineFromAddress[ip]])")
    ELSE
        print("ip \(ip)")
    END IF

    VAR s: String := console.input("ndb> ")
    IF s = "" THEN
        s := last
    ELSE
        last := s
    END IF

    LET a: Array<String> := string.split(s, " ")
    IF a[0] IN ["b", "break"] THEN
        r := post("/break/\(AddressFromLine[num(a[1])])", "true")
    ELSIF a[0] IN ["c", "clear"] THEN
        r := post("/break/\(AddressFromLine[num(a[1])])", "false")
    ELSIF a[0] IN ["g", "globals"] THEN
        FOREACH name IN Globals.keys() DO
            r := get("/module/-/global/\(Globals[name].index)")
            LET value: Object := r.value
            print("\(name)\t\(value)")
        END FOREACH
    ELSIF a[0] IN ["h", "help"] THEN
        help()
    ELSIF a[0] IN ["n", "next"] THEN
        r := post("/step/source/0", "")
    ELSIF a[0] IN ["ni", "next-in"] THEN
        r := post("/step/source/1", "")
    ELSIF a[0] IN ["no", "next-out"] THEN
        r := post("/step/source/-1", "")
    ELSIF a[0] IN ["p", "print"] THEN
        LET g: Global := Globals[a[1]]
        r := get("/module/-/global/\(g.index)")
        LET v: Object := r.value
        print("\(v)")
    ELSIF a[0] IN ["q", "quit"] THEN
        r := post("/quit", "")
        EXIT LOOP
    ELSIF a[0] IN ["r", "run"] THEN
        r := post("/continue", "")
    ELSIF a[0] IN ["s", "stack"] THEN
        r := get("/opstack")
        print(r.toString())
    ELSE
        print("Unknown command: \(a[0])")
    END IF
END LOOP
